.about {
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-bottom: 2rem;
    &-head {
        font-size: 3rem;
        line-height: 3.4rem;
    }
}

.card {
    width: 27rem;
    color: $green-1;
    text-align: center;
    margin-bottom: 1rem;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.insurance_card__img {
    display: flex;
    height: 100%;
    background-size: contain;
    filter: grayscale(100%);
    min-height: 17rem;
    
    &:hover { 
        filter: grayscale(0%);
        transition: 0.75s ease-in-out;
    }
}

.text-block {
    margin-top: 2rem;
}

.slider-second .slick-track {
    display: flex;
}

#second-slider .slider-second .item {
    display: flex;
    justify-content: space-between;
    background: #E5F4F9;
    padding: 1.5rem 2.4rem 3rem 1.5rem;
    margin: 0 0 2rem 0;
}

#second-slider .slider-second .item .col1 { 
    width: 42%;
}

#second-slider .slider-second .item .col1 .button {
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.3rem;
    color: $white;
    background: $orange;
}

#second-slider .slider-second .item .col2 {
    width: 60%;
    height: 32.5rem;
    overflow-y: auto;
}

#second-slider .slider-second .item .text {
    margin-left: 4rem;
    padding: 1rem 0 1.5rem 0;
}

#second-slider .slider-second .item .text p {
    color: #6A6A6A;
    margin-bottom: 1rem;
}

#methodics,
#contacts {
    margin-top: 3rem;
}

.contacts_tel-text {
    font-size: 1.4rem;
    line-height: 1;
    color: $green-1;
}

#contacts .title {
    color: $green-1;
    text-transform: uppercase;
}

#contacts .box .number {
    display: flex;
    align-items: center;
    margin-bottom: 2.7rem;
}

#contacts .box .number p {
    font-size: 2.6rem;
    margin: 0;
    line-height: 3rem;
}

#contacts .box .number img {
    margin-right: 0.8rem;
}

#contacts .box .number p span {
    font-weight: 700;
}

#contacts .big {
    height: 38.5rem;
    max-width: 100%;
}

#contacts .box .text h3 {
    color: #292929;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
}

#contacts .box .text p {
    color: #292929;
}

#contacts .box .text p span {
    font-weight: 700;
}

#contacts .specialists .box {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

#contacts .specialists .box .info h4 {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    color: $green-1;
    margin-bottom: 0.8rem;
}

#contacts .specialists .box .info h4 span { 
    font-weight: 500; 
}

#contacts .specialists .box .info p {
    font-weight: normal;
    color: #6A6A6A;
    margin: 1.5rem 0;
}

#contacts .specialists .box .img {
    height: 27.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex: 1;
}

#contacts .specialists .box .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24rem;
    flex: 1;
    margin-left: 2rem;
}

.img img { max-width:100%; }

#contacts .specialists .box .info .button {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.vacancy {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__input, 
    &__content {
        display: none;
    }
    &__label {
        margin-top: 1rem;
        cursor: pointer;
        &:hover {
            color: $green-1;
        }
        &-text {
            text-transform: uppercase;
            width: fit-content;
        }
        &-chevron {
            &:after {
                content: "";
                width: 0.8rem;
                height: 0.8rem;
                border-right: 0.2rem solid;
                border-bottom: 0.2rem solid;
                transform: rotate(45deg);
                display: inline-block;
                vertical-align: middle;
                margin-left: 0.2rem;
                margin-top: -0.4rem;
            }
        }
    }
}

.chevron__rotate {
    &:after {
        transform: rotate(-135deg);
        margin-top: 0.5rem;
    }
}