.altasib_geobase_city .altasib_geobase_cities ul li, 
.altasib_geobase_city .altasib_geobase_cities ul li a {
  color: $green-1;
  margin-bottom: 0.5rem;
  &:hover {
    color: $orange;
  }
}

.altasib_geobase_link .altasib_geobase_link_city,
.altasib_geobase_mb_link .altasib_geobase_mb_link_city {
	text-transform: uppercase;
	border-bottom: none;
	display: flex;
	align-items: center;

	&:hover {
		color: $orange;
    	&:after {
      		background: url(img/icons/orange-arrow-down.svg) center no-repeat;
    	}
	}
  	&:after {
    	content: '';
    	background: url(img/icons/green-arrow-down.svg) center no-repeat;
    	width: 1.2rem;
    	height: 0.6rem;
    	display: flex;
    	margin-left: 0.5rem;
  	}
}

.altasib_geobase_link {
	display:block;
	font-size: 1.5rem;
	line-height: 1.6rem;
	text-decoration: none;
	.altasib_geobase_link_city {
		cursor:pointer;
		font-weight:700;
		white-space:normal;
	}
}

#altasib_geobase_info {
	position: absolute;
	display: none;
	width: 37.2rem;
	z-index: 999;
	border: 0;
	background-color:$white;
	max-height:50.6rem;
	overflow-y:scroll!important;
	div {
		padding: 0.8rem 0.6rem;
		font-size: 1.4rem;
		font-weight: normal;
		color:#8c8c8c;
		border-bottom: 0.1rem solid #eaeaea;
		&:hover {
			background-color:#e6ecef;
			cursor:pointer
		}
	}
}

div.altasib_geobase_focus {
	background-color:#e6ecef
}

#altasib_geobase_close {
	float:right;
	position:relative;
	a {
		background:url(images/close.png) no-repeat;
		position:absolute;
		right:-15px;
		top:-13px;
		display:block;
		font-size:1px;
		height:30px;
		line-height:1px;
		width:30px
	}
}

strong.altasib_geobase_light {
	font-size: 1.4rem;
	font-weight: bold;
	color:#333
}

.altasib_geobase_city .altasib_geobase_clear {
	clear:both
}

#altasib_geobase_popup {
	top:100px;
	margin:0 auto;
	background:none repeat scroll 0 0 $white;
	width:300px;
	border:0 solid $white;
	box-shadow: 0 1px 10px #969696;
	.altasib_geobase_pu_i {
		color:#444!important;
		margin: 0 20px;
		padding: 20px 0 0 0;
	}
}

.altasib_geobase_city .altasib_geobase_ttl {
	color:#333;
	font-size: 15px;
	font-weight: bold;
	margin:0 0 15px;
}

.altasib_geobase_city .altasib_geobase_title2 {
	color:#333;
	font-size: 14px;
	font-weight: normal;
	padding:0 0 12px
}

.altasib_geobase_city .altasib_geobase_find {
	margin:2px 135px 35px 0;
	box-sizing:border-box
}

.altasib_geobase_city .altasib_geobase_find input {
	color:gray;
	font-size: 14px;
	width:99%;
	background:none repeat scroll 0 0 #F7F7F7;
	border:1px solid gray;
	box-shadow:0 1px 1px rgba(0,0,0,.075) inset;
	color:#363636;
	font-size:13px;
	font-style:normal;
	height:auto;
	line-height:16px;
	padding:4px 8px;
	transition:border .2s linear 0s,box-shadow .2s linear 0;
	box-sizing:border-box;
}

.altasib_geobase_city .altasib_geobase_find input:focus {
	color:#333;
	border-color:#d8d8d8;
	box-shadow:0 1px 1px #fee3a2 inset,0 0 8px #fee3a2;
	outline:medium none
}

.altasib_geobase_city .altasib_geobase_cities {
	margin:0 0 20px;
	padding-bottom:10px
}

@media (max-width:400px) {
	.altasib_geobase_city .altasib_geobase_cities ul {
		column-count: 1;
	}
}

.altasib_geobase_city .altasib_geobase_cities ul {
	list-style-type:none;
	padding:0
}

.altasib_geobase_city .altasib_geobase_cities ul.altasib_geobase_list_ie {
	float: left;
	list-style: none outside none;
	padding: 0;
	width: 33%
}

.altasib_geobase_city .altasib_geobase_cities ul.altasib_geobase_fst {
	margin:0
}

.altasib_geobase_city .altasib_geobase_cities ul li {
	padding:0
}

.altasib_geobase_city .altasib_geobase_cities ul li a {
	display:inline-block;
}

.altasib_geobase_city .altasib_geobase_cities ul li,.altasib_geobase_city .altasib_geobase_cities ul li a {
	font-size: 15px;
	font-weight: normal;
	text-decoration:none
}

.altasib_geobase_city .altasib_geobase_cities ul li.let a:first-letter {
	color:#e05222;
	font-weight:700
}

.altasib_geobase_city .altasib_geobase_cities ul li.altasib_geobase_act a {
	color:#e05222;
	font-weight:700
}

.altasib_geobase_city .altasib_geobase_cities ul li.emp {
	height:17px
}

.altasib_geobase_city .altasib_geobase_cutting .cutit a,.altasib_geobase_city .altasib_geobase_cutting .uncutit a {
	border-bottom:1px dashed #ED1C24;
	color:#ED1C24;
	font-size:12px;
	line-height:15px;
	margin:0 0 0 350px;
	text-decoration:none
}

.altasib_geobase_city .altasib_geobase_cutting .cutit a {
	font-weight:400
}

.altasib_geobase_city .altasib_geobase_cutting .uncutit a {
	font-weight:700
}

.altasib_geobase_city .altasib_geobase_cutting .cutit {
	display:none
}

.altasib_geobase_city .altasib_geobase_cutting .uncutit span {
	font-size:12px;
	line-height:15px;
	padding:0 3px
}

.altasib_geobase_city .altasib_geobase_cutting .cutit span {
	font-size:12px;
	line-height:15px;
	padding:0 3px
}

.altasib_geobase_city .altasib_geobase_cutting.uncutted .cutit {
	display:block
}

.altasib_geobase_city .altasib_geobase_cutting.uncutted .uncutit {
	display:none
}

a#altasib_geobase_btn {
	background:url(images/buttons.png);
	color:$white;
	cursor:pointer;
	display:block;
	float:right;
	font-size: 12px;
	font-weight: normal;
	width:109px;
	padding-top:5px;
	margin-top:2px;
	text-align:center;
	text-decoration:none;
	height:27px;
	box-sizing:border-box
}

a#altasib_geobase_btn:hover {
	background-position:0 -28px
}

a#altasib_geobase_btn.altasib_geobase_disabled,a#altasib_geobase_btn.altasib_geobase_disabled:hover,a#altasib_geobase_btn.altasib_geobase_disabled:active {
	background:url(images/buttons.png) no-repeat;
	background-position:0 -55px;
	cursor:default;
	color:#8d8d8d;
	text-shadow:1px 1px $white;
	height:30px;
	box-sizing:border-box
}

#altasib_geobase_win {
	display:none;
	top:9%;
	left:0;
	color:#000;
	margin:0;
	padding:0;
	width:100%;
	z-index:10000;
	height:100%;
	position:fixed
}

#altasib_geobase_popup_back {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	opacity:.3;
	position:fixed;
	top:0;
	width:100%;
	z-index:9999;
	transition:opacity 400ms
}

.altasib_geobase_mb_link {
	display:inline;
	line-height:18px;
	text-decoration:none;
}

.altasib_geobase_mb_link .altasib_geobase_mb_link_city {
	cursor:pointer;
	font-weight:700;
	text-transform:uppercase;
}

.altasib_geobase_mb_link .altasib_geobase_mb_link_city:hover,.altasib_geobase_mb_link_city:active {
	color:#333
}

#altasib_geobase_mb_info {
	position:absolute;
	display:none;
	width:37.2rem;
	max-height:38rem;
	z-index:999;
	border:0;
	background-color:$white;
	overflow-y:scroll;
}

#altasib_geobase_mb_info div {
	padding: 8px 6px;
	font-size: 1.4rem;
	font-weight: normal;
	color:#8c8c8c;
	border-bottom: 0.1rem solid #eaeaea
}

div.altasib_geobase_mb_focus {
	background-color:#e6ecef
}

#altasib_geobase_mb_close {
	float:right;
	position:relative
}

#altasib_geobase_mb_close a {
	background:url(images/close.png) no-repeat;
	position:absolute;
	right:1rem;
	top:1rem;
	display:block;
	font-size:0.1rem;
	height:3rem;
	line-height:0.1rem;
	width:3rem;
	z-index: 99999999;
}

strong.altasib_geobase_mb_light {
	font-size: 1.4rem;
	font-weight: bold;
	color:#333
}

#altasib_geobase_mb_popup .altasib_geobase_mb_pu_i {
	color:#444!important;
	padding-bottom: 0.5rem;
}

#altasib_geobase_mb_popup {
	top:0;
	margin:0 auto;
	background:none repeat scroll 0 0 $white;
	width: 52.1rem;
	height: 47rem;
	box-shadow:0 1px 10px #969696;
}

.altasib_geobase_mb_ttl {
	color:#333;
	font-size: 1.4rem;
	font-weight: bold;
	margin:0 0 16px;
	padding:23px 20px 0;
}

.altasib_geobase_mb_city .altasib_geobase_mb_title2 {
	color:#333;
	font-size: 1.4rem;
	padding:0 0 12px
}

.altasib_geobase_mb_city .altasib_geobase_mb_find {
	margin:2px 14px 15px 0;
	padding:0 10px
}

.altasib_geobase_mb_city .altasib_geobase_mb_find input {
	color:gray;
	width:99%;
	background:none repeat scroll 0 0 #F5F5F5;
	border:1px solid #eaeaea;
	box-shadow:0 1px 1px rgba(0,0,0,.075) inset;
	color:#363636;
	font-size:13px;
	font-style:normal;
	height:auto;
	line-height:16px;
	padding:12px 8px;
	transition:border .2s linear 0s,box-shadow .2s linear 0
}

.altasib_geobase_mb_city .altasib_geobase_mb_find input:focus {
	color:#333;
	border-color:#d8d8d8;
	box-shadow:0 1px 1px #fee3a2 inset,0 0 8px #fee3a2;
	outline:medium none
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities {
	margin: 0 0 2rem;
	height: 41rem;
	overflow-y: scroll;
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul {
	list-style-type:none;
	padding:0;
	border-top:1px solid #eaeaea
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul.altasib_geobase_mb_list_ie {
	float:left;
	list-style:none outside none;
	margin:0 0 0 -15px;
	padding:0;
	width:33%
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li {
	padding:0;
	border-bottom:1px solid #eaeaea
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li a {
	display:inline-block;
	padding:11px 10px 11px 20px;
	border-bottom:1px solid transparent
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li,.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li a {
	color:#333;
	font-size: 16px;
	text-decoration:none
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li.let a:first-letter {
	color:#ED1C24;
	font-weight:700
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li.altasib_geobase_mb_act,.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li.altasib_geobase_mb_act a {
	color:$white;
	font-weight:700;
	font-size:16px;
	background-color:#e05222
}

.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li.emp {
	height:17px
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .cutit a,.altasib_geobase_mb_city .altasib_geobase_mb_cutting .uncutit a {
	border-bottom:1px dashed #ED1C24;
	color:#ED1C24;
	font-size:12px;
	line-height:15px;
	margin:0 0 0 350px;
	text-decoration:none
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .cutit a {
	font-weight:400
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .uncutit a {
	font-weight:700
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .cutit {
	display:none
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .uncutit span {
	font-size:12px;
	line-height:15px;
	padding:0 3px
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting .cutit span {
	font-size:12px;
	line-height:15px;
	padding:0 3px
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting.uncutted .cutit {
	display:block
}

.altasib_geobase_mb_city .altasib_geobase_mb_cutting.uncutted .uncutit {
	display:none
}

a#altasib_geobase_mb_btn.altasib_geobase_mb_disabled,a#altasib_geobase_mb_btn.altasib_geobase_mb_disabled:active {
	display:none
}

#altasib_geobase_mb_win {
	display:none;
	top:5%;
	left:0;
	color:#000;
	margin:0;
	padding:0;
	width:100%;
	z-index:10001;
	height:100%;
	position:fixed
}

#altasib_geobase_mb_popup_back {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	opacity:.3;
	position:fixed;
	top:0;
	width:100%;
	z-index:9999;
	transition:opacity 400ms;
}

@media screen and (max-height:480px) and (orientation:landscape) {
	
	#altasib_geobase_mb_info {
		width:372px
	}
	
}

@media screen and (max-width:480px) {
	#altasib_geobase_mb_popup {
		width:320px
	}
	
	a#altasib_geobase_mb_btn {
		margin-left:12px
	}
	
	#altasib_geobase_mb_info {
		width:296px
	}
	
	.altasib_geobase_mb_ttl {
		font-size:16px;
		margin:0 0 15px;
		padding:23px 12px 0
	}
	
	.altasib_geobase_mb_city .altasib_geobase_mb_find {
		padding:0 12px
	}
	
	.altasib_geobase_mb_city .altasib_geobase_mb_find input {
		padding:12px 8px;
		font-size:16px
	}
	
	.altasib_geobase_mb_city .altasib_geobase_mb_cities ul li a {
		padding-left:12px
	}
}

@media screen and (min-device-width: 320px) and (max-device-width: 500px) {
	#altasib_geobase_popup {
		top:0!important;
		width:280px
	}
	
	#altasib_geobase_window_block {
		top:0!important
	}
}