.consultation__head {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.9rem;
    margin: 0;
}

.pageDetail-head {
	margin-bottom: 1.5rem;
}

.article {
	&_head {
		text-transform: uppercase;
	}
	&__dropdownMenu {
		position: relative;
	}
	&__dropdownList {
		background-color: $white;
		display: none;
		flex-direction: column;
    	gap: 1rem;
    	left: 0;
		margin-bottom: 3rem;
		z-index: 1;
    	
		&.show {
			display: flex;
		}
		&-item {
			font-size: 1.6rem;
    		line-height: 1.8rem;
			padding: 1.5rem;
			border-bottom: 0.2rem solid $green-1;
			font-weight: 400;
			&:hover {
				border-bottom: 0.2rem solid $orange;
			}
		}
	}
	&__btnSelect {
		background-color: transparent;
		color: $green-1;
		font-weight: 500;
		font-size: 2rem;
    	line-height: 3rem;
    	margin: 2rem 0;
		text-transform: uppercase;

		&:before {
			content: '';
			background: url(img/icons/article.svg) center center / contain no-repeat;
			padding: 0 1.5rem;
			margin-right: 1rem;
		}
		&:after {
			content: '';
			width: 0.7rem;
			height: 0.7rem;
			border-right: 0.2rem solid #A29F9F;
			border-bottom: 0.2rem solid #A29F9F;
			transform: rotate(45deg);
			display: inline-block;
			vertical-align: middle;
			margin-left: 0.7rem;
    		margin-bottom: 1rem;
    		transition: 0.5s ease;
		}
		&.rotate {
			&:after {
				transform: rotate(225deg);
				transition: 0.5s ease;
			}
		}
	}
}

.disease {
	&__block {
		display: flex;
		flex-direction: column;
		margin: 3rem 0;
		color: $white;
		gap: 3rem;

		&__inner {
			display: flex;
			flex-wrap: wrap;
			gap: 3rem;
			background-color: $white;
			padding: 0;
		}

		&-item {
			&:nth-child(1){
				background: $green-3;
			}

			&:nth-child(2){
				background: $green-1;
			}
		}
	}

	&__photo {
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__text {
		background: $green-3;
		font-weight: 400;
		font-size: 3rem;
		line-height: 3.4rem;
		flex: 1;
		padding: 2.2rem 4rem;
		
		span {
			font-weight: 700;
			font-size: 4rem;
			line-height: 4.5rem;
		}
	}
}

.sympthoms {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	&__reasons {
		font-size: 1.8rem;
		line-height: 2.1rem;
	}
	&__markers {
		margin-bottom: 0;
	}
	&__announce {
		padding-bottom: 0;
		display: flex;
		align-items: stretch; 
		flex-wrap: wrap;
		&-img {
			img {
				height: 100%;
				max-width: 100%;
			}
		}
		&-text {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			flex-direction: column;
			button {
				margin-top: 3rem;
				width: 50%;
			}
		}
	}
}

.articleDetail {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;

	img {
		max-width: 100%;
	}
}

.goodKnow__content {
	background-color: #F6F6F6;
	padding: 2rem 0;
}

.hirurg,
.phys,
.medic,
.regenerat,
.robot,
.reflex,
.methods,
.diagnostics,
.reab,
.reviews,
.faq,
.goodKnow {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	margin: 2rem 0 0 0;

	&__grey {
		padding: 3rem 0;
		margin-bottom: 2rem;
		background-color: #F5F5F5;
	}

	&__head {
		h2 {
			font-weight: 500;
			font-size: 2.5rem;
			line-height: 2.9rem;
			margin: 10rem 0 3.2rem 0;
		}
	}

	&__slider {
		&__link {
			&:after {
				content: '';
				display: block;
				height: 1.2rem;
				width: 0.8rem;
				margin-left: 1.2rem;
				background: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 6L1.51351 12L0 10.6L4.97297 6L1.46575e-06 1.4L1.51351 0L8 6Z' fill='%23009C9D'/%3E%3C/svg%3E%0A") center / contain no-repeat;
			  
			  }
			  &:hover {
				color: $orange;
				&:after {
				  background: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 6L1.51351 12L0 10.6L4.97297 6L1.46575e-06 1.4L1.51351 0L8 6Z' fill='%23E05222'/%3E%3C/svg%3E%0A") center / contain no-repeat;
				}
			  }
		}
	}
}

.important {
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.1rem;
	margin: 2rem 0;

	&__grey {
		padding: 2rem;
		background-color: #F5F5F5;
	}

	&__head {
		display: flex;
		align-items: center;

		&:after {
			content: '';
			width: 100%;
			height: 2rem;
			background-color: $orange;
			position: absolute;
			z-index: -1;
		}
		h2 {
			background-color: $white;
			color: $orange;
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			margin: 1.5rem 0;
			padding: 0 3rem 0 0;
			font-size: 2.5rem;
			line-height: 2.9rem;
		}
	}
}

.howMuch {
	margin-top:1.5rem;
	&__head {
		background-color: $green-1;
		display: flex;
		align-items: center;
		padding: 2rem;

		h2 {
			color: $white;
			margin: 0;
		}
	}
	&__desc {
		font-weight: 500;
		padding: 2rem;
		background-color: #F6F6F6;
		&__inner {
			display: flex;
			align-items: center;
			img {
				margin-right: 2.4rem;
				width: 6rem;
			}
		}
	}
	p {
		font-size: 1.8rem;
		line-height: 2.1rem;
		margin-bottom: 0!important;
	}
	&__link {
		color: rgba(0, 0, 0, 0.56);
		&:after {
			content: '';
			background: url(img/diagnostics/grey-arrow.svg) 0 0.4rem / contain no-repeat;
			padding: 0 0.3rem;
			margin-left: 0.5rem;
		}
		&:hover {
			&:after {
				content: '';
				background: url(img/diagnostics/orange-arrow.svg) 0 0.4rem / contain no-repeat;
				padding: 0 0.3rem;
				margin-left: 0.5rem;
			}
		}
	}
}

.statistics {
	color: $white;
	font-weight: normal;
	font-size: 3rem;
	line-height: 3.4rem;
	display: flex;
	flex-wrap: wrap;

	span {
		font-weight: 500;
		font-size: 7rem;
		line-height: 8.3rem;
	}

	&-item {
		padding: 1.8rem 1.8rem 5rem 1.8rem;
		flex: 1 50%;
		
		&__even, 
		&__odd{
			gap: 1.5rem;
			font-size: 1.8rem;
			line-height: 2.1rem
		}

		&__odd{
			margin-left: auto;
			max-width: 55rem;
		}

		&__even{
			margin-right: auto;
			max-width: 55rem;
		}

		&:nth-child(1),
		&:nth-child(4){
			background-color: $green-1;
		}

		&:nth-child(2),
		&:nth-child(3){
			background-color: $green-3;
		}
	}
}

.opinion {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	margin: 1rem 0 0 0;

	&__head {
		display: flex;
		align-items: center;
		padding-left: 0;

		&:after {
			content: '';
			width: 100%;
			height: 2rem;
			background-color: $green-1;
			position: absolute;
		}
		h2 {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			background-color: $white;
			margin: 1.5rem 0;
			padding: 0 3rem 0 0;
			z-index: 1;
			font-weight: 500;
			font-size: 2.5rem;
			line-height: 2rem;
		}
	}

	&__body {
		background: #F2F2F2;
		padding: 2rem 0;
		margin-bottom: 2rem;
	}

	&__doctor {
		display: block;

		&__photo {
			float: left;
			width: 24.6rem;
			margin: 0 2rem 1rem 0;

			img {
				max-width: 100%;
				height: auto;
			}
			.btn_orange {
				width: 100%;
			}
		}
		
		&__desc {
			padding: 0 1rem 1rem 1rem;
			color: $grey-3;
			b {
				font-size: 1.7rem;
			}
		}
	}
}

.start {
	margin-top: 2rem;
	font-size: 1.8rem;
	line-height: 2.1rem;
	font-weight: 300;
	&__grey {
		background: #F6F6F6;
	}
	&__text {
		padding: 2.9rem 0 3.3rem 19rem;
	}
	&__step {
		&-one,
		&-two,
		&-three {
			display: flex;
		}

		&__line {
			position: absolute;
			top: 14.6rem;
			left: 50%;
			width: 0.1rem;
			height: 100%;
			border: 0.1rem dashed $orange;
		}
		
		&__photo {
			flex: 0 0 15rem;
			position: relative;
			&-one {
				background: url(img/start/1.jpg) center center / contain no-repeat;
				height: 14.6rem;
			}
			&-two {
				background: url(img/start/2.jpg) center center / contain no-repeat;
				height: 14.6rem;
			}
			&-three {
				background: url(img/start/3.jpg) center center / contain no-repeat;
				height: 14.6rem;
			}
		}
		&__desc {
			flex: 1;
			padding: 0 0 3rem 2.5rem;
		}
	}
}

.availability {
	h2 {
		font-size: 2.3rem;
		margin: 1.5rem 0 0 0;
	}

	&__link {
		height: 100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
		color: $white;
		&:hover {
			color: $white;
		}
	}

	&__inner {
		margin-top: 2rem;
		background: linear-gradient(90deg, $green-1 0%, $green-3 75%, $green-3 100%);
	}

	&__block {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		font-size: 1.8rem;
		line-height: 2.1rem;
		color: $white;
		text-transform: uppercase;
		background-color: $white;
		padding: 0!important;
	}

	&__city {
		padding: 3.3rem 0;
		background-color: $green-3;
		flex: 3;
		&-item {
			font-size: 1.8rem;
    		line-height: 2.1rem;
    		margin-bottom: 1.5rem;
			img {
        		width: 8.4rem;
        		margin: 1rem 0 0 1rem;
    		}
		}
		&__link,
		&__soon {
			color: $white;
			font-size: 1.85rem;
			font-weight: normal;
			&:before {
				content:'';
				background: url(img/icons/pin.svg) center center / contain no-repeat;
				margin-right: 1.8rem;
				height: 1.5rem;
				width: 1rem;
				padding: 0 0.5rem;
			}
			&:hover {
				color: $white;
			}
		}

		&__soon {
			&:after {
            	content: "";
            	background: url(img/icons/soon.png) 50% / contain no-repeat;
            	margin-left: 1rem;
            	padding: 0.3rem 2.9rem;
			}
		}
	}
	
	&__otherCity {
		line-height: 3.3rem;
		font-weight: bold;
		background-color: $green-1;
		padding: 3rem 4.1rem;
		text-align: center;
		flex: 1;
		p {
			text-align: center;
		}
	}

	&__btn {
		font-weight: bold;
		font-size: 1.8rem;
		line-height: 2.1rem;
		width: 22.1rem;
		height: 5rem;
		margin-top: 2.1rem;
		margin-bottom: 1rem;
		background-color: $orange;
		color: $white;
		border: 0.2rem solid $white;
		text-transform: uppercase;
	}
}

.author {
	&__head {
		h2 {
			margin: 0 0 1.5rem 0;
			padding: 0 3rem 0 0;
		}
	}
	&__body {
		display: block;
		margin-top: 2rem;
		
		&:before {
			content: '';
			position: absolute;
			margin: -2rem 0;
			width: 100%;
			height: 0;
			background-color: $green-1;
		}
	}
	&__link {
		color: #A19F9F;
		font-size: 1.5rem;
		line-height: 1.7rem;
		&:after {
			content: '';
			background: url(img/diagnostics/grey-arrow.svg) 0 0.4rem / contain no-repeat;
			padding: 0 0.3rem;
			margin-left: 0.5rem;
		}
		&:hover {
			&:after {
    			content: "";
    			background: url(img/diagnostics/orange-arrow.svg) 0 0.4rem / contain no-repeat;
    			padding: 0 0.3rem;
    			margin-left: 0.5rem;
			}
		}
	}
	&__btn {
		background-color: $orange;
		border: 0.3rem solid $orange;
		color: $white;
		text-transform: uppercase;
		padding: 0.5rem;
		font-size: 1.3rem;
		font-weight: 700;
		position: absolute;
		bottom: 0;
		&:hover {
			background-color: $white;
			border: 0.3rem solid $orange;
			color: $orange;
		}
	}
	&__doctor {
		float: left;
		width: 12rem;
		margin: 0 1.5rem 0 0;

		&__photo {
			width: 12rem;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	&__text {
		font-size: 1.6rem;
		line-height: 1.9rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: baseline;
		height: 100%;
		min-height: 15rem;

		&__link {
			color: rgba(0,0,0,.56);
			&:after {
    			content: "";
    			background: url(img/diagnostics/grey-arrow.svg) 0 0.4rem / contain no-repeat;
    			padding: 0 0.3rem;
    			margin-left: 0.5rem;
			}
			&:hover {
				&:after {
					content: "";
					background: url(img/diagnostics/orange-arrow.svg) 0 0.4rem / contain no-repeat;
					padding: 0 0.3rem;
					margin-left: 0.5rem;
				}
			}
		}

		h3 {
			font-weight: 500;
			font-size: 2.1rem;
			line-height: 2.5rem;
			text-transform: uppercase;
			margin-bottom: 1.7rem;
		}
		span {
			color: $green-1;
		}
		strong {
			font-weight: normal;
			font-size: 2rem;
			line-height: 2.4rem;
			margin-bottom: 2rem;
		}
	}
}

.disclaimer {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	background: linear-gradient(90deg, #ffffff 20%, #f6f6f6 85%);

	&__inner {
		display: flex;
		gap: 2.5rem;
		align-items: flex-start;
	}
	
	&__pic {
		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__text {
		width: 100%;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.9rem;
		padding: 1.7rem;
		background: #F6F6F6;
	}
}

.newsDetail {
	&__section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		h3 {
			font-size: 1.9rem;
			color: $green-1;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
		h4 {
			font-size: 1.8rem;
			color: $green-1;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
	}

	&__start {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		background-color: #eee;
		padding: 1.5rem 1rem;
		margin-top: 1.5rem;
		border-top: 0.2rem solid $orange;
		&-item {
			display: flex;
			flex-direction: column;

			&--text {
				margin: 1.5rem 0;
			}
			&--h, 
			&--photo, 
			&--text, 
			&--btn {
				min-width: 27rem;
				max-width: 36rem;
				a {
					font-size: 1.5rem;
				}
			}
		}
	}
}

.sales__infograph {
	display: flex;
	flex-wrap: wrap;
	gap: 1.8rem;
	&-item {
		height: 19.1rem;
		flex: 1 1 25%;
		border: 0.5rem solid $green-1;
		background-color: #F5F5F5;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: space-around;
		
		img {
			width: 11.1rem;
			max-width: 100%;
			height: auto;
		}

		p {
			font-size: 1.6rem;
			line-height: 1.8rem;
			text-transform: uppercase;
		}
	}
}