.faqWrap {
	&__header {
		margin: 0 auto 3rem;
		&__question {
			float: left;
			margin-right: 1.5rem;
		}
	}
	&__photo {
		float: left;
		width: 320px;
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 2rem 1.5rem 0;
	}
	&__pic {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        height: 315px;
		&-online {
			position: absolute;
			margin: 0 auto;
			width: 100%;
			bottom: 3%;
		}
    }
}

.faqPage {
	font-size: 1.8rem;
    line-height: 2.1rem;

	&__sendQuestion {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		margin: 2rem auto;
		padding: 0;
		
		&-text { 
			background-color: $green-1;
			color: $white;
			padding: 2rem 0;
			font-size: 2.5rem;
    		line-height: 2.9rem;
			flex: 1;
			position: relative;

			&:before {
				content: '';
				width: 99999px;
				height: 100%;
				position: absolute;
				bottom: 0;
				top: 0;
				right: 0;
				z-index: -1;
				background-color: $green-1;
			}
			a {
				color: $white;
				text-decoration: underline;
			}
		}
		&-btn {
			background-color: $orange;
			border: 0.3rem solid $orange;
			color: $white;
			text-transform: uppercase;
			cursor: pointer;
			font-size: 1.6rem;
    		line-height: 1.9rem;
			width: 11.3rem;
			margin-right: -1.5rem; 
			&:hover {
				background-color: $white;
				border: 0.3rem solid $orange;
				color: $orange;
			}
		}
	}

	&__topic__counter {
		margin-left: auto;
		padding: 0 2rem 1.6rem 0;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.3rem;
	}

	&__inner {
		margin-top: 3rem;
		background: linear-gradient(90deg, $green-3 0%, $green-1 75%, $green-1 100%);
	}

	&__block {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		color: 	$white;
		background-color: $white;
		padding: 0;
	}

	&__question {
		background-color: $green-1;
		padding: 57px 0 20px 20px;
		flex: 2;
		display: flex;
		flex-direction: column;

		&-item {
			margin-bottom: 25px;
			font-weight: normal;
			font-size: 25px;
			line-height: 29px;
			color: $white;
			&:hover {
				color: $white;
				font-weight: bold;
				border-bottom: 2px solid $white;				
			}
			&.active {
				font-weight: bold;
				border-bottom: 2px solid $white;
				padding-bottom: 5px;
			}
		}
	}

	&__answer {
		padding: 37px 0 0 30px;
		background-color: $green-3;
		flex: 3;
		max-width: 680px;
		
		&__head {
			font-weight: 500;
			font-size: 30px;
			line-height: 34px;
			text-transform: uppercase;
			padding-bottom: 44px;
			display: flex;
			color: $white;
			position: relative;
			h2 {
				color: $white;
			}
			&:after {
				content: '';
				height: 34px;
				border-bottom: 2px solid $white;
				left: 310px;
				position: absolute;
				right: 0;
			}
		}
		&__counter {
			display: flex;
			margin-left: auto;
			padding: 0 20px 16px 0;
			align-items: center;
			z-index: 1;
			font-size: 20px;
			line-height: 23px;
			font-weight: bold;
		}
		&-item {
			font-weight: 500;
			font-size: 20px;
			line-height: 23px;
			padding-bottom: 30px;
			display: flex;
			align-items: center;
			
			a {
				color: $white;
				&:hover {
					text-decoration: underline;
				}
			}
			
			&:before {
				content: "";
				background: url(img/icons/faq.svg) 50% / contain no-repeat;
				margin-right: 14px;
				height: 31px;
				width: 31px;
				padding: 0 10px;
			}
		}
	}

	&__btn {
		margin: 0 auto;
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		text-transform: uppercase;
		color: $white;
		background-color: $orange;
		border: 2px solid $white;
		padding: 0 24px;
		height: 60px;
	}
}

.faq__body {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	&-item {
		margin-bottom: 43px;
		h3 {
			margin-bottom: 15px;
			font-weight: 500;
			font-size: 20px;
			line-height: 23px;
			color: $green-1;
			text-transform: uppercase;
		}
	}
	&__link {
		color: #A19F9F;
		margin-left: 10px;
		&:after {
			content: '';
			background: url(img/diagnostics/grey-arrow.svg) 0 7px / contain no-repeat;
			padding: 0 3px;
			margin-left: 5px;
		}
	}

	&__question {
		margin-bottom: 20px;
		&__head {
			&:before {
				content: '';
				background: url(img/icons/faq-question.svg) center center / contain no-repeat;
				margin-right: 10px;
				height: 15px;
				width: 10px;
				display: inline-flex;
			}
		}
	}
	&__answer {
		margin-bottom: 20px;
		&__head {
			&:before {
				content: '';
				background: url(img/icons/faq-answer.svg) center center / contain no-repeat;
				margin-right: 10px;
				height: 15px;
				width: 15px;
				display: inline-flex;
			}
		}
	}
}

@media screen and (max-device-width:768px) {
	.faqPage__block {
		gap: 0;
	}
	.faqPage__sendQuestion{
		margin: 0 auto 2rem auto;
	}
	.faqPage__sendQuestion-text {
		font-size: 1.8rem;
    	line-height: 2.4rem;
	}
	.navBottom-item {
		width: 22rem;
	}
}

@media screen and (max-device-width:500px) {

	.faqPage__sendQuestion {
		margin: 0;
	}

	.faqPage__sendQuestion-btn {
		width: 100%;
	}
}