.footer {
	background-color: $green-3;
	color: $white;
	font-size: 1.6rem;
	line-height: 2.3rem;
	font-weight: 300;
	padding: 1.5rem 0 3rem 0;

	&__socialx {
		display: flex;
		gap: 3rem;
		&-item {
			width: 5rem;
			height: 5rem;
			margin-top: 1.9rem;
			background-color: $white;
			cursor: pointer;
			display: flex;
    		justify-content: center;
    		align-items: center;
		}
		&__vk {
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 2.2rem;
    		width: 3.6rem;
		}
		&__ig {
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 3.2rem;
    		width: 3.2rem;
		}
		&__ok {
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 3rem;
    		width: 1.8rem;
		}
		&__fb {
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 3rem;
    		width: 3.8rem;
		}
	}

	&__info {
		display: flex;
    	flex-wrap: wrap;
    	justify-content: space-between;
    	flex:1;
	}

	&__license {
		flex: 1;
		margin-bottom: 1.5rem;
		&__link {
			display: flex;
			flex-direction: column;
			color: $white;
			text-decoration: underline;
		}
	}

	&__button {
		display: flex;
		flex-direction: column;
		flex: 1;

		&-error,
		&-suggest {
			text-transform: uppercase;
			background-color: $green-3;
			color: $white;
			font-size: 1.6rem;
			border: 0.1rem solid $white;
			padding: 2rem 0 1.8rem 0;
    		margin-bottom: 3.1rem;
    		width: 25.8rem;

			&:hover {
				background-color: $white;
				color: $green-3;
			}
		}
	}

	&__disclaimer {
		background-color: $white;
		color: $green-3;
		font-size: 2.5rem;
		text-align: center;
		text-transform: uppercase;
		padding: 2.4rem 0 2.3rem 0;
	}

	&__address {
		display: flex;
		flex-direction: column;
		margin: 0 2rem 2rem 2rem;
		width: 29rem;
		&__link {
			color: $white;
			text-decoration: underline;
		}
	}
}

.locality {
	text-transform: uppercase;
}

.alphabet__block {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	margin: 6rem 0 8rem 0;

	h2 {
		padding-bottom: 1.7rem;
		border-bottom: 0.1rem solid $green-1;
		position: relative;
		&:after {
			content: '';
			border-bottom: 0.1rem solid $green-1;
			width: 100%;
			height: 0.1rem;
			position: absolute;
			bottom: -0.1rem;
			left: 100%;
		}
	}
}

.alphabet {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 3.6rem;
	&__text {
		margin-top: 1.3rem;
		color: $green-1;
	}
	&-item{
		list-style-type: none;
		&.active{
			background-color: $green-1;
			a {
				color:#fff;
				&:hover {
					color:#fff;
				}
			}
		}
		&:focus{
			color: #fff;
			background-color: $orange;
		}
	}

	ul {
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
	}

	a {
		color: $green-1;
		text-decoration: none;
		font-size: 1.8rem;
		padding: 1rem;

		&:hover{
			color: $orange;
		}
	}
}

.phone__call {
	display: none;
} 

.btn__scrollTop {
	position: fixed;
	right: 1.5rem;
    bottom: 13%;
	z-index: 993;
	display: none;
	justify-content: center;
    align-items: center;
	width: 5rem;
    height: 5rem;
    border: 0.2rem solid $green-1;
    margin-top: 1.9rem;
	background: url("data:image/svg+xml,%3Csvg fill='%23009C9D' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256' style='enable-background:new 0 0 256 256;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon points='128,48.907 0,176.907 30.187,207.093 128,109.28 225.813,207.093 256,176.907 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") center center / 4rem no-repeat;
	background-color: $white;
	font-size: 0;
	cursor: pointer;
}

.b24-widget-button-position-bottom-right { 
	right: 0.5rem!important; 
	bottom: 1rem!important;
}

.groupFastBtn {
    position: fixed;
    right: 1.5rem;
    bottom: 33%;
	z-index: 994;
    display: flex;
    flex-direction: column;
    gap: 1rem;
	&-item {
		background-size: 2.5rem;
		background-repeat: no-repeat;
		background-position: 50%;
		width: 4rem;
		height: 4rem;
		background-color: #fff;
		border: 0.2rem solid $green-1;
		cursor: pointer;
		font-size: 0;
	}
}

.groupFastBtn-item.callback {
    background-image: url(img/icons/callback.png);
}
.groupFastBtn-item.repost {
    background-image: url(img/icons/repost.png);
}
.groupFastBtn-item.search {
    background-image: url(img/icons/search.svg);
}
.groupFastBtn-item.top {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23009C9D' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath d='M128 48.907l-128 128 30.187 30.186L128 109.28l97.813 97.813L256 176.907z'/%3E%3C/svg%3E");
}