.warning__text {
	color: $orange; 
	font-size: 1.8rem;
	line-height: 2.1rem;
}

.salePreview {
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 2.5rem;
	margin: 2rem 0;
}

/*
.sale {
	display: flex;
	flex-wrap: wrap;
	gap: 2.4rem;
	padding: 0;
	margin-bottom: 2rem;
	
	&__head {
		background-color: $green-3;
		padding: 1.4rem 1.3rem 0.9rem 1.3rem;
		font-size: 1.8rem;
		line-height: 2.1rem;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		color: $white;
		font-weight: 500;
	}
	
	&__counter {
		display: flex;
		flex-direction: column;
		flex: 1;
		
		p {
			font-size: 2.5rem;
		}
		
		&__limit {
			margin-top: 1.6rem;
			font-weight: normal;
			font-size: 1.5rem;
			line-height: 1.7rem;
		}
		
		&__inner {
			background-color: $green-1;
			color: $white;
			text-align: center;
			padding: 1rem;
			margin-bottom: 0;
			font-weight: bold;
			font-size: 2.5rem;
			line-height: 2.9rem;
		}
		
		&__datetime {
			display: flex;
			justify-content: center;
			gap: 1.8rem;
			margin-top: 1.5rem;
			
			&__number {
				padding: 0 0 0 0.6rem;
				letter-spacing: 1rem;
				font-weight: bold;
				font-size: 5rem;
				line-height: 6rem;
				background-color: $white;
				color: $green-1;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					height: 6rem;
					width: 0.5rem;
					background-color: $green-1;
					left: 45%;
					top: 0;
				}
			}
			&__text {
				color: $white;
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 2.1rem;
				text-align: center;
			}
		}
	}
	
	&__warning {
		display: flex;
		gap: 1.5rem;
		height: 6rem;
		
		&__symbol {
			img {
				max-width: inherit;
				height: 100%;
			}
		}
		
		&__text {
			background: #F6F6F6;
			color: $black;
			font-weight: 300;
			font-size: 1.1rem;
			line-height: 1.2rem;
			padding: 1rem;
		}
	}
	
	&__form {
		background-color: $green-1;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
		width: 100%;
				
		&__head {
			color: $white;
			font-size: 2.2rem;
			font-weight: 500;
			line-height: 2.5rem;
			text-transform: uppercase;
			text-align: center;
			margin: 0;
			padding: 1.4rem 1.3rem 0.9rem 1.3rem;
		}

		.saleSecond__smsform__check {
			width: 30rem;
			color: $white;
			flex-direction: column;
		}
		
	}
}*/

.sms {
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5rem;
		
		&-item {
			background-color: $white;
			background-size: 2rem 2rem;
			background-position: 0.9rem;
			background-repeat: no-repeat;
			border: none;
			font-weight: 300;
			font-size: 2rem;
			height: 3.5rem;
			width: 100%;
			line-height: 2.3rem;
			margin-bottom: 1rem;
			padding-left: 4.1rem;
		}
		&__btn {
			font-weight: bold;
			font-size: 1.8rem;
			line-height: 2.1rem;
			height: 3.5rem;
			width: 100%;
			background-color: $orange;
			color: $white;
			border: 0.2rem solid $white;
			text-transform: uppercase;
		}
	}
}

.checkbox__outer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1rem;
	background-color: #DAF7F7;
	padding: 0.8rem 0.8rem 0.8rem 1.1rem;
	
	input[type='checkbox']{
		width: auto;
		cursor: pointer;
	}
	
	label {
		color: $black;
		cursor: pointer;
		display: flex;
		font-size: 1.1rem;
		line-height: 1.2rem;
		text-align: left;
	}
}

.check {
	&__input {
		opacity: 0;
		position: absolute;
		&:checked + .check__box-white {
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9.4L0 5.4L1.4 4L4 6.6L10.6 0L12 1.4L4 9.4Z' fill='white'/%3E%3C/svg%3E%0A");
		}
		
		&:checked + .check__box {
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9.4L0 5.4L1.4 4L4 6.6L10.6 0L12 1.4L4 9.4Z' fill='white'/%3E%3C/svg%3E%0A");
		}
	}
	
	&__box {
		background-repeat: no-repeat;
		background-color: $green-1;
		background-position: center;
		cursor: pointer;
		margin: 0.2rem 0 0 0;
		position: absolute;
		width: 1.6rem;
		height: 1.6rem;
	}
}

/*
.saleSecond {
	background: linear-gradient(90deg, $green-3 0%, $green-1 75%, $green-1 100%);
	color: $white;
	margin-top: 2rem;
	text-align: left;
		
	&__inner {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		background-color: $white;
		padding: 0!important;
	}
	
	&__counter {
		background-color: $green-1;
		flex: 1;
		width: 100%;
		
		&__inner {
			background-color: $green-1;
			padding: 1rem;
			margin-bottom: 0;
		}
		
		p {
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.3rem;
			text-align: center;
		}
		&-head {
			&--one {
				font-size: 1.8rem;
				line-height: 2.1rem;
				font-weight: 500;
				padding-bottom: 1rem;
				
				span {
					font-size: 2.5rem;
				}
			}
			
			&--two {
				font-size: 2.7rem;
				line-height: 3.4rem;
				text-transform: uppercase;
			}
		}

		&__text {
			font-size: 1.7rem; 
			line-height: 2rem; 
			font-weight: 400;
			text-align: center;
			margin-bottom: 1rem;
		}
		
		&__datetime {
			display: flex;
			justify-content: center;
			gap: 2rem;
			padding: 1rem 0 0 0;
			
			&__number {
				padding: 0 0 0 0.6rem;
				letter-spacing: 1rem;
				font-weight: bold;
				font-size: 6rem;
				line-height: 6.9rem;
				background-color: $white;
				color: $green-1;
				position: relative;
				&:before {
					content: '';
					background-color: $green-1;
					position: absolute;
					left: 44%;
					top: 0;
					height: 6.9rem;
					width: 0.5rem;
				}
			}
			&__text {
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 2.1rem;
				color: $white;
				text-align: center;
			}
		}
	}
	
	&__form {
		flex: 1;

		&__inner {
			background-color: $green-3;
			padding: 1.5rem;
			height: 100%;
		}
		
		&__smalltext {
			font-size: 1.2rem;
		}
		
		&-head {
			font-size: 2rem;
			font-weight: 500;
			text-transform: uppercase;
			text-align: center;
		}
		a {
			color: $white;
		}
	}
	
	&__smsform {
		padding: 1rem 0;
		
		p {
			font-weight: normal;
			font-size: 2rem;
			line-height: 2.3rem;
			text-align: center;
		}
		
		&-inner {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
		}
		
		&-item {
			font-size: 1.6rem;
			line-height: 2rem;
			border: none;
			padding-left: 4.1rem;
			height: 5.6rem;
			width: 100%;
			background-color: #ebebeb;			
		}
		
		&__btn {
			background-color: $orange;
			color: $white;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2rem;
			width: 100%;
			height: 5.6rem;
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__check {
			display: none;
			flex-wrap: wrap;
			gap: 1.5rem;
			padding: 2.5rem 0 1.3rem;
		}
	}
	
	&__section {
		margin-bottom: 3rem;
	}
}
*/


.b24-form-btn {
	background-color: #e05222 !important;
	border-radius: 0 !important;
}

.b24-form-btn:hover {
	background-color: #da6e4a !important;
}

.b24-window-close {
	background: transparent !important;
	opacity: 1 !important;
}

.b24-window-close::after,
.b24-window-close::before {
	content: "";
	width: 16px !important;
	height: 3px !important;
	background: $white;
	position: absolute;
}

.b24-form-header {
	background: #009c9d;
}

.b24-form-header-title {
	text-transform: uppercase;
	color: $white !important;
	letter-spacing: 0!important;
	font-family: Ubuntu,sans-serif !important;
	font-size: 1.6rem!important;
}

.b24-window-panel-pos-right {
	left: 50%;
	transform: translateX(-50%);
}

.b24-window-scroll-anchor {
	height:auto!important; 
}

.b24-form-control-string .b24-form-control, .b24-form-control-list .b24-form-control, .b24-form-control-text .b24-form-control, .b24-form-control-select .field-item {
	border-radius:0!important;
}

.b24-form-state-container .b24-form-success { background-color: #009c9d!important }
.b24-form-success .b24-form-state-text { color:$white!important }
.b24-form-state-container .b24-form-loader, .b24-form-state-container .b24-form-state { border-radius: 0!important }

/*убирает паддинг который добавляет форма Битрикс24*/
body {
	padding-right: 0 !important;
}

.b24-form-header {
	padding: 10px 0 0!important;
}

.b24-form-header-description {
	color:$white !important;
}

@media (min-width: 320px) and (max-width: 1024px){
	.b24-window-close {
		top: 4px!important;
		right: 10px!important;
	}
}

.promo {
	background-color: $white;
	display: flex;
	flex-wrap: wrap;
    position: relative;
	z-index: 994; 

	&__info {
		background-color: $green-1;
		color: $white;
		flex: 0 52.6rem;
		padding: 2rem 1.8rem;

		&-h {
			font-weight: 500;
			font-size: 2.4rem;
			line-height: 2.8rem;
			text-transform: uppercase;
		}

		&-restrict {
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 2rem;
			margin-top: 2rem;
		}

		&-h2 {
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 2rem;
			margin-top: 2rem;
			margin-bottom: 0.8rem;
			text-transform: uppercase;
		}

		&-cities {
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1.2rem;
			opacity: 0.6;
			margin-top: 2rem;
			max-width: 47.3rem;
		}
		&-link {
			font-size: 1.4rem;
			font-weight: 700;
			line-height: 1.6rem;
			letter-spacing: 0.02em;
			color: $white;
			text-transform: uppercase;
			display: flex;
			align-items: end;
			&:hover {
				color: $white;
			}
			&:after {
				content: '';
				width: 2rem;
				height: 2rem;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_193_1195)'%3E%3Cmask id='mask0_193_1195' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_193_1195)'%3E%3Cpath d='M16 12L9.51351 18L8 16.6L12.973 12L8 7.4L9.51351 6L16 12Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_193_1195'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
		}
	}

	&__counter {
		background-color: $green-3;
		padding: 0.8rem 1.2rem 0.4rem 1.2rem;
		margin-top: 0.8rem;
		display: flex;
		gap: 2.7rem;
		max-width: 47.3rem;
		&-item {
			position: relative;
			&:not(:last-child) {
				&:after {
					content:':';
					font-size: 4rem;
					line-height: 4rem;
					color: #000;
					position: absolute;
					right: -1.8rem;
					top: 0.5rem;
				}
			}
		}
		&__num {
			width: 9.2rem;
			font-size: 4rem;
			font-weight: 500;
			line-height: 4rem;
			letter-spacing: 2.3rem;
			color: $green-1;
			background-color: $white;
			padding: 0.6rem 1.05rem;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				height: 5.2rem;
				width: 0.5rem;
				background-color: $green-3;
				left: 47%;
				top: 0;
			}
		}
		&__text {
			color: $white;
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1.6rem;
			text-align: center;
		}
	}

	&__form {
		&-outer {
			border: 0.2rem solid $green-1;
			flex: 1;
			max-width: 62rem;
			padding: 1.6rem 2rem;
		}

		&-inner {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			justify-content: space-between;
			position: relative;
		}

		&-privacy {
			margin-left: 2.5rem;
			a {
				color: $green-1;
			}
		}

		&-phone {
			background-color: $grey-2;
			border: 0.1rem solid $grey-2;
			cursor: text;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 2rem;
			height: 5.6rem;
			//width: 27rem;
			flex: 1;
			padding: 0.8rem 1rem;

			&:focus,
			&:valid {
				background-color: $white;
				border: 0.1rem solid $green-1;

				& + .promo__form-label {
					font-size: 1.2rem;
					top: 0.5rem;
				}
			}
		}

		&-label {
			color: $black;
			cursor: text;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 2rem;
			position: absolute;
			left: 1rem;
			top: 1.75rem;
			
			&:focus, 
			&:valid {
				top: 0.25rem;
				font-size: 1.2rem;
			}
		}

		&-btn {
			background-color: $orange;
			color: $white;
			flex: 1;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: 2rem;
			letter-spacing: 0.02em;
			height: 5.6rem;
			width: 17.4rem;
			text-align: center;
			text-transform: uppercase;
		}

		&-dialog {
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1.6rem;
			margin-top: 0.8rem;
			display: flex;
			align-items: center;
			&:before {
				content:'';
				width: 3.6rem; //2.8rem 
				height: 2.6rem;
				margin-right: 0.8rem;
				background-color: #DAF7F7;
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.416504 1.75644V15.1987L3.03188 12.5833H14.2434C14.6185 12.5833 14.9356 12.4538 15.1946 12.1948C15.4536 11.9357 15.5831 11.6187 15.5831 11.2436V1.75644C15.5831 1.38133 15.4536 1.06426 15.1946 0.805229C14.9356 0.546201 14.6185 0.416687 14.2434 0.416687H1.75625C1.38114 0.416687 1.06407 0.546201 0.805046 0.805229C0.546018 1.06426 0.416504 1.38133 0.416504 1.75644ZM4.99982 7C5.5521 7 5.99982 6.55228 5.99982 6C5.99982 5.44772 5.5521 5 4.99982 5C4.44753 5 3.99982 5.44772 3.99982 6C3.99982 6.55228 4.44753 7 4.99982 7ZM8.99982 6C8.99982 6.55228 8.5521 7 7.99982 7C7.44753 7 6.99982 6.55228 6.99982 6C6.99982 5.44772 7.44753 5 7.99982 5C8.5521 5 8.99982 5.44772 8.99982 6ZM10.9998 7C11.5521 7 11.9998 6.55228 11.9998 6C11.9998 5.44772 11.5521 5 10.9998 5C10.4475 5 9.99982 5.44772 9.99982 6C9.99982 6.55228 10.4475 7 10.9998 7Z' fill='%23009C9D'/%3E%3C/svg%3E%0A");
				background-size: 1.6rem;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}

.promo__form-phone:focus+.promo__form-label, .promo__form-phone:valid+.promo__form-label {
    top: 0.25rem!important;
}

.promocode__check {
	display: none;
}

.overlay {
	display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(34, 34, 34, 0.25);
    z-index: 994;
}

.modal {
	background-color: $white;
	box-shadow: 0.5rem 0.5rem 0.6rem 0 rgba(225,225,225,.2509803922);
    display: none;
    flex-direction: column;
    justify-content: space-between;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.4rem;
	width: 46.5rem;
    margin: 0 auto;
	position: fixed;
    right: 0;
    left: 0;
    top: 25%;
	text-align: center;
	z-index: 1100001;
	&-pic {
		background-color: #DFF5F5;
		height: 17.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-head {
		color: $green-1;
		font-size: 2.6rem;
		font-weight: 500;
		line-height: 3.2rem;
		margin: 2rem 0;
		text-align: center;
	}
	&-text {
		color: #5C5C5C;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2rem;
		margin: 2rem 0 0 0;
		text-align: center;
	}
	.btn__orange {
		margin: 3.2rem auto 3.6rem auto;
		width: 15.6rem;
	}
}

@media (max-width:600px) {
	.modal {
		width: 97%;
	}
}

@media (max-width:425px) {
	.promo {
		&__counter {
			gap: 1.6rem;
			justify-content: center;
			&-item:not(:last-child):after {
				content: ":";
				font-size: 3rem;
				line-height: 3rem;
				top: 0.2rem;
				right: -1.2rem;
			}
			&__num {
				font-size: 3.2rem;
				line-height: 3.2rem;
				letter-spacing: 0.5rem;
				width: auto;
				padding: 0;
				&:before {
					height: 3.2rem;
					width: 0.3rem;
					left: 43%;
				}
			}
		}
		&__form {
			&-phone {
				width: 100%;
			}
			&-btn {
				width: 100%;
			}
		}
	}
}