.doctorDetail__head {
	margin: 6rem 0 2rem;
}

.vertebra__orange li,
.green__cubes li,
.orange__cubes li,
.contraindications li,
.graduation li,
.dopGraduation li,
.courses li,
.achievements li,
.articles li,
.checkMarks li {
	list-style: none;
    padding: 0 0 1.5rem 0;
	font-weight: 400;
}

.vertebra__orange {
	li {
		&:before {
			content: '';
			background-image: url(img/lists/vertebra2.svg);
    		background-size: contain;
    		background-repeat: no-repeat;
    		margin-right: 1.5rem;
    		padding: 0 1rem;
		}
	}
}

.green__cubes {
	li {
		&:before {
			content: '';
			background-image: url(img/lists/green_cube.svg);
    		background-size: contain;
    		background-repeat: no-repeat;
    		margin-right: 1.5rem;
    		padding: 0 1rem;
		}
	}
}

.orange__cubes {
	li {
		&:before {
			content: '';
			background-image: url(img/lists/orange_cube.svg);
    		background-size: contain;
    		height: 1.2rem;
    		width: 1.2rem;
    		margin-right: 1rem;
    		display: inline-flex;
		}
	}
}

.contraindications {
	li {
		&:before {
			content: '';
			background-image: url(img/lists/contraindication.svg);
    		background-size: contain;
    		background-repeat: no-repeat;
    		margin-right: 1.5rem;
    		padding: 0 1rem;
		}
	}
}

.graduation {
		li {
		&:before {
			content: '';
			background-image: url(img/lists/edu_green.svg);
    		background-size: contain;
    		background-repeat: no-repeat;
    		margin-right: 1.5rem;
    		padding: 0 1rem;
		}
	}
}

.dopGraduation {
		li {
		&:before {
			content: '';
			background-image: url(img/lists/edu_orange.svg);
    		background-size: contain;
    		background-repeat: no-repeat;
    		margin-right: 1.5rem;
    		padding: 0 1rem;
		}
	}
}

.achievements {
		li {
		&:before {
			content: '';
			background-image: url(img/lists/achievements.svg);
    		background-size: contain;
    		background-repeat: no-repeat;
    		margin-right: 1.5rem;
    		padding: 0 1rem;
		}
	}
}

.checkMarks {
		li {
		&:before {
			content: '';
			background-image: url(img/lists/courses.svg);
    		background-size: contain;
    		background-repeat: no-repeat;
    		margin-right: 1.5rem;
    		padding: 0 1rem;
		}
	}
}

.articles {
		li {
		&:before {
			content: '';
			background-image: url(img/lists/articles.svg);
    		background-size: contain;
    		background-repeat: no-repeat;
    		margin-right: 1.5rem;
    		padding: 0 1rem;
		}
	}
}