/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 576px) {

	.float,
	.flimg {
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.pageblock__logo,
	.topMain__slider,
	.topMain__slider-nav {
		display: none;
	}

	.topMain__direction {
		top: -10px;
	}

	h1 {
		font-size: 20px;
		line-height: 24px;
		margin: 15px 0;
	}

	h2 {
		font-size: 18px;
		line-height: 21px;
		margin: 15px 0;
	} 

	.menu__list {
		top: 30px;
		flex-direction: column;
		background-color: #009c9d;
		left: 0;
		width: 100%;
		&-item {
			padding: 7px 15px;
		}
	}

	.menu__sublist-item {
		width: 100%;
		text-align: left;
	}

	.advantages {
		justify-content: center;
		&__text {
			font-size: 17px;
			&-1 {
				padding: 15px 15px 0 15px;
			}

			&-2 {
				padding: 17px 15px 39px;
			}

			&-3 {
				padding: 30px 35px 0 15px;
			}

			&-4 {
				padding: 70px 0 55px 15px;
			}

			&-5 {
				padding: 30px 30px 30px 15px;
			}
		}
	}

	.footer__info {
		flex-direction: column;
	}

	.footer__disclaimer {
		font-size: 23px;
		text-align: center;
		padding: 15px 15px;
	}

	.footer__address {
		margin: 15px 20px 20px 0;
	}

	.footer__button-error, .footer__button-suggest {
		margin-bottom: 15px;
	}

	.phone__call {
		font-size:0;
		width: 50px;
		height: 50px; 
		display: block;
		background-color: $orange;
		border-radius:100%;
		position: fixed;
		bottom: 1rem;
		left: 13px;
		z-index: 994;

		&:before {
			content: '';
			border: 2px solid $orange;
			border-radius:100%;
			width: 50px;
			height: 50px;
			display: block;
			padding: 5px;
			position: relative;
			bottom: 7px;
			right: 7px;
			animation: pulse 1.5s ease-in-out infinite;
		}
		&:after {
			content:'';
			background: url(img/icons/white-telephone.svg) center no-repeat;
			background-size: 30px;
			padding: 15px;
			position: absolute;
			left: 10px;
			top: 10px;
			animation: trubka .9s ease-in-out infinite;
		}
	}

	@keyframes trubka {
		0%, 100% {
			transform: rotate(-20deg);
		}
		50% {
			transform: rotate(21deg);
		}
	}

	@keyframes pulse {
		0% {
			transform: scale(0.5);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: scale(1.2);
			opacity: 0;
		}
	}

	.alphabet__block {
		margin: 30px 0;
		h2 {
			&:after {
				left: 15px;
			}
		}
	}

	.method__procedure__block {
		margin: 0;
	}

	#contacts .specialists .box .info {
		height: auto;
	}

	#contacts .specialists .box .info .button {
		width: 150px;
	}

	.direction__slider__nav-item, .method__slider__nav-item {
		height: auto;
	}

	.direction__slider__nav-item img, 
	.method__slider__nav-item img,
	.direction__future__sliderNav-item img, 
	.direction__procedure__sliderNav-item img, 
	.method__future__sliderNav-item img, 
	.method__procedure__sliderNav-item img {
		height: auto;
	}

	.modal_div {
		width: 100%;
	}

	.topMain__slider {
		&-item {
			height: 300px;
			background-position: top;
			background-size: 150%;
			background-repeat: no-repeat;

			h1 {
				font-size: 25px;
				line-height: 30px;
			}

			p {
				font-size: 16px;
				line-height: 19px;
				margin-bottom: 30px;
			}
		}

		&__btn {
			width: 200px;
			padding: 10px;
			font-size: 18px;
			line-height: 23px;
			margin-bottom: 30px;
		}
		.slick-list {
			height: auto;
		}
	}

	#second-slider .slider-second .item .col1 .button {
		font-size: 14px;
		line-height: 17px;
		height: auto;
	}

	#second-slider .slider-second .item .text {
		margin-left: 15px;
		padding: 0;
	}

	.text {
		margin: 0;
	}

	.sale__head {
		font-size: 18px;
		line-height: 23px;
	}

	.saleSecond__counter p {
		font-size: 21px;
		line-height: 24px;
	}

	.sale_block img, .a {
		width: 100%;
		margin-bottom: 15px;
	}

	.contacts_phone-fed .col-lg-4 {
		padding: 0;
	}

	#contacts .big {
		height: auto;
		margin: 15px 0;
	}

	.diagnostics__slider .slick-track, .doctor__slider-main .slick-track, .doctor__slider-treat .slick-track, .doctorDetail__sertificates__slider .slick-track, .hirurg__slider .slick-track, .medic__slider .slick-track, .methods__slider .slick-track, .newsMain__slider .slick-track, .phys__slider .slick-track, .regenerat__slider .slick-track, .sales-mainslider .slick-track {
		gap: 0;
	}

	.direction__statistics b, 
	.method__statistics b {
		font-size: 23px;
		line-height: 26px;
	}

	.articlesWrap__list__pic, .catalogSpecWrap__list__pic, .methodsWrap__list__pic, .newsWrap__list__pic, .reviewsWrap__list__pic, .salesWrap__list__pic {
		margin-bottom: 0;
	}

	.doctorsMain__head, .methodsMain__head, .newsMain__head, .salesMain__head {
		margin: 30px 0;
	}

	.doctorsMain__head:after, .methodsMain__head:after, .newsMain__head:after, .salesMain__head:after {
		width: auto;
	}

	.tiles_achievements {
		.col-lg-6 {
			width: 100%;
		}
	}

	.doctorsMain__head h2, .methodsMain__head h2, .newsMain__head h2, .salesMain__head h2 {
		padding: 0px 15px 0 0;
	}

	.diagnostics__slider-item h4, .hirurg__slider-item h4, .medic__slider-item h4, .methods__slider-item h4, .phys__slider-item h4, .regenerat__slider-item h4 {
		font-size: 18px;
		line-height: 22px;
		margin: 15px 0;
	}

	#achievements .box h3 {
		font-size: 28px;
	}

	#achievements .box p {
		font-size: 22px;
	}

	.advantages-item {
		margin: 0 auto;
		width: 100%;
	}

	.disclaimer__text {
		font-size: 16px;
		line-height: 19px;
	}

	.main__number {
		padding: 0px 10px;
		font-size: 30px;

		&:after {
			left: -5px;
			top: -7px;
			height: 43px;
			width: 43px;
		}
	}

	.doctor__info {
		min-height: 310px;
		&__desc h3 {
			font-size: 18px;
			line-height: 20px
		}

		&__bigtext {
			font-size: 22px;
			line-height: 25px;
		}

		&__speciality {
			font-size: 16px;
			line-height: 18px;
			margin-top: 15px; 
		}

		&__online {
			font-size: 14px;
			line-height: 16px;
		}

		&__detail {
			font-size: 16px;
		}
	}

	.aboutMain__col { 
		margin: 0 -15px;
		p {
			padding: 15px;
		}
		img {
			margin: 0 auto;
		}
		h3 {
			font-size: 20px;
			line-height: 25px;
		}
	}

	.aboutMain__infographic {
		gap: 0;
		margin: 0;
		&-item {
			font-size: 18px;
			line-height: 22px;
			padding: 10px 0;
			div {		
				font-size: 40px;
				line-height: 50px;
			}
		}
	}

	.newsMain__slider__photo {
		flex: 0 0 100%;
	}

	.blue-box {
		margin: 15px -15px;
	}

	.reviews__slider h3 {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 22px;
	}

	.reviewsDetail__content iframe {
		max-width: 100%;
		height: 216px;
	}

	.articlesWrap__list, .catalogSpecWrap__list, .methodsWrap__list, .newsWrap__list, .reviewsWrap__list, .salesWrap__list, .video__list {
		justify-content: center;
	}

	.direction__block, .method__block, .content {
		margin: 0;
	}

	.direction__text, .method__text {
		flex: 1 100%;
		padding: 15px;
		font-size: 16px;
	}
	.direction__btn, .method__btn {
		margin-top: 10px;
	}

	.doctorsMain__counter, 
	.methodsMain__counter, 
	.newsMain__counter, 
	.salesMain__counter, 
	.doctor__info__desc {
		padding: 0;
	}

	.saleSecond__counter__datetime__number,
	.sale__counter__datetime__number {
		font-size: 40px;
		line-height: 49px;
		&:before {
			height: 49px;
		}
	}

	.sale__warning {
		height: auto;
	}

	.saleSecond__counter,
	.saleSecond__form {
		flex:auto;
	}



	.saleSecond__form h3 {
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
	}

	.reviews__navslider__photo {
		flex: 0 0 100%;
	}
	.reviews__btn, .reviews__slider h4 {
		font-size: 16px;
		line-height: 19px;
	}

	.reviews__btn {
		margin: 20px 0;
	}

	.reviews__mainslider__photo {
		flex: 100%;
	}

	.reviews__navslider {
		margin-bottom: 15px;
	}

	.reviews__navslider__desc {
		padding: 0;
		font-size: 14px;
	}

	#achievements h2 {
		margin: 0 0 15px 0;
	}

	#achievements .box h2 {
		margin: 0;
		font-size: 49px;
	}

	.card__list {
		justify-content: center;
	}

	.direction__slider__photo, .method__slider__photo {
		width: 100%;
		height: auto;
	}

	.direction__slider, .method__slider {
		max-width: 100%;
	}

	.method__procedure__photo {
		flex: auto;
	}

	.howMuch__desc__inner {
		flex-wrap: wrap;
	}

	.head__appointment,
	.head__time,
	.head__btn,
	.menu__list,
	.menuBottom,
	.doctor__slider-item--last {
		display: none;
	}

	.doctor__slider-item {
		flex: 1 100%;
	}

	.head__location {
		width: 10rem;
		line-height: 1;
	}

	.active {
		display: flex;
	}

	.hide {
		display: none;
	}

	.navBottom__inner {
		justify-content: center;
		gap: 20px;
	}

	.navBottom-item {
		width: 260px;
	}

	.head {
		flex-direction: row;
		&__logo {
			height: 27px;
			width: 87px;
			display: flex;
		}
		&__phoneNumber {
			font-size: 10px;
			line-height: 11px;
			&-item {
				margin: 5px 0 3px 0;
			}
		}
		&__container {
			order: 2;
			width: 100%;
			margin: 0 15px;
		}

		&__logo {
			margin: 0 auto;
		}
	}

	.menu {
		order: 1;
		position: absolute;
		right: 0;
		left: 0;
		&__subwrap {
			position: relative;
			top:0;
		}
		&-button {
			display: block;
		}
	}

	.navigation {
		flex-direction: column;
		margin: 45px 0 15px;

		&__search {
			order: 1;
			width: 100%;
			margin-top: 10px;
			
			&__field {
				width: 100%;
			}
		}

		&__breadcrumbs {
			order: 2;
			margin-top: 10px;
			justify-content: flex-start;
			width: 100%;
		}
	}

	.aboutMain__col__textright,
	.aboutMain__col__textleft,
	.reviews__mainslider__desc {
		padding: 0;
	}

	.method__statistics h4, 
	.direction__statistics h4 {
		font-size: 45px;
		line-height: 45px;
	}

	.availability__block {
		gap: 20px 0;
	}

	.aboutMain__prints {
		height: 100px;
		margin: 0;

		&-item {
			height: 100px;
			width: 100px;

			&:nth-child(1) {
				left: 0;
			}
			&:nth-child(2) {
				left: 75px;
			}
			&:nth-child(3) {
				left: 150px;
			}
			&:nth-child(4) {
				left: 222px;
			}
			&:nth-child(5) {
				left: 294px;
			}
		}
	}

	.disease_search input {
		padding-left: 2rem;
		background-size: 16px;
		background-position: 10px;
		font-size: 14px;
		line-height: 17px;
	}

	.accordion__label {
		padding: 10px;
	}

	.reviews__header__text, .video__header__text {
		padding: 15px;
		margin: 15px -15px;
	}

	.reviews__header__logo, .video__header__logo {
		display: none;
	}

	.opinion__doctor__desc {
		padding: 10px 0 0 0;
	}

	.doctor__slider {
		margin-top: 0;
	}

	.doctor__info__photo {
		height: auto;
		width: 100%;
	}

	.doctorDetail__photo {
		flex: 100%;
		height: 180px;
	}

	.doctorDetail__info {
		font-size: 18px;
		line-height: 21px;
		flex: auto;
		h1 {
			font-size: 22px;
			line-height: 25px;
		}
	}

	.doctorDetail__prodoctorov {
		width: 100%;
	}

	.doctorDetail__experience, 
	.doctorDetail__online {
		font-size: 16px;
		line-height: 19px;
	}

	.btn_orange {
		padding: 10px;
		font-size: 16px;
		line-height: 21px;
	}
	.doctorDetail__head {
		margin: 15px 0 15px;
	}

	.pro_doc {
		width: 210px;
	}

	.b-review-card {
		flex-flow: row wrap;
	}
	.b-doctor-rates__filter {
		flex-wrap: wrap;
	}

	.doctorDetail__navBottom__large {
		flex:auto;
	}

	.doctorDetail__navBottom-item {
		margin-bottom: 0;
	}

	.faqWrap__header, .methodsWrap__header, .salesWrap__header h1 {
		margin: 0;
	}

	.faqPage__question {
		padding: 20px 0 20px 20px;
		flex: auto;
	}
	.faqPage__inner {
		margin-top: 0;
	}
	.faqPage__answer {
		flex: auto;
		max-width: 100%;
		padding: 20px 0 0 20px;

		&__head {
			padding-bottom: 15px;
		}
	}

	.author__doctor{
		order: 2;
		&__photo {
			width: 310px;
		}
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
	.salesMain__head:after, .doctorsMain__head:after, .methodsMain__head:after, .newsMain__head:after {
		width: auto;
	}

	.navigation,
	.regular__section,
	.howMuch__desc,
	.reviews__mainslider-item,
	.doctorsMain, .methodsMain, .newsMain, .salesMain {
		font-size: 16px;
		line-height: 19px;
	}

	.regular__section img {
		height: auto;
	}

	.phys__head h2, 
	.medic__head h2, 
	.regenerat__head h2, 
	.methods__head h2,
	.method__text, 
	.diagnostics__head h2, 
	.reviews__head h2, 
	.faq__head h2, 
	.author__head h2, 
	.howMuch__head h2, 
	.opinion__head h2,
	.availability h2, 
	.availability__city__link, 
	.availability__city__soon, 
	.direction__text,
	.articlesWrap__list-item h2, 
	.catalogSpecWrap__list-item h2, 
	.methodsWrap__list-item h2, 
	.newsWrap__list-item h2, 
	.reviewsWrap__list-item h2, 
	.salesWrap__list-item h2, 
	.video__list-item h2 {
		font-size: 18px;
		line-height: 22px;
	}

}