.method,
.direction {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	text-align: left;

	img {
		max-width: 100%;
	}

	&__head {
		text-transform: uppercase;
	}

	&__block {
		font-size: 1.8rem;
		line-height: 2.1rem;
		color: $white;
		background-color: $green-1;
		margin: 3rem 0;

		&__inner {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
			background-color: $white;
			padding: 0;
		}
	}
	&__slider {
		display: flex;
		flex-direction: column;
		flex: 1;
		max-width: 555px;

		&-item {
			cursor: pointer;
			flex:0 0 105px;
		}

		&__photo {
			width: 556px;
			height: 350px;
			position: relative;

			img {
				max-width: 100%;
				width: 100%;
				height: 100%;
			}
		}

		&__nav {
			display: flex;
			gap: 4rem;

			&-item {
				height: 80px;
				width: 109px;
				cursor: pointer;
				img {
					max-width: 100%;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	&__text {
		background-color: $green-3;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.1rem;
		padding: 2.1rem 2.6rem 2.1rem 3.6rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex: 1;
		a {
			color: $white;
			text-decoration: underline;
		}
	}
	&__btn {
		font-weight: bold;
		font-size: 1.5rem;
		line-height: 1.7rem;
		text-transform: uppercase;
		color: $white;
		background-color: $orange;
		border: 2px solid $white;
		padding: 0 2.4rem;
		height: 53px;
	}
	&__ability {
		margin-top: 2rem;

		&__photo {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&-item {
				height: 260px;
				width: 320px;
				margin-bottom: 3rem;

				img {
					max-width: 100%;
					height: auto;
				}
				h3 {
					text-align: center;
					color: $green-1;
					font-weight: bold;
					font-size: 2rem;
					line-height: 2.3rem;
					margin-top: 1.5rem;
				}
			}
		}
	}
	&__future,
	&__procedure {
		margin-top: 3rem;

		&__head {
			padding: 0;
			display: flex;
			align-items: center;
			&:after {
				content: "";
				width: 100%;
				height: 2rem;
				background-color: $green-1;
				position: absolute;
			}
			h2 {
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				background-color: #fff;
				padding: 0 3rem 0 1.5rem;
				z-index: 1;
				font-weight: 500;
				font-size: 2.5rem;
				line-height: 2.9rem;
			}
		}

		&__advantages {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 2.2rem;
			margin-top: 3rem;

			&-item {
				border: 2px solid $green-1;
				display: flex;
				flex: 1;
				align-items: center;
				&:last-child {
					border: 0.2rem solid $orange;
					
					.method__procedure__text {
						color: $orange;
					}
					.method__procedure__percent {
						background-color: $orange;
					}
				}
			}
		}

		&__percent {
			background-color: $green-1;
			color: $white;
			font-weight: bold;
			font-size: 2.5rem;
			line-height: 2.9rem;
			padding: 1rem;
			height: 100%;
			display: flex;
			align-items: center;
			flex:1;
		}

		&__photodesc {
			flex:1;
		}

		&__text {
			color: $green-1;
			flex: 3;
			text-align: center;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.3rem;
			padding: 1rem;
		}

		&__card {
			display: flex;
			flex-wrap: wrap;
			gap: 2.2rem;
			margin-top: 1rem;

			&__link {
				display: flex;
				align-items: center;
				&:after {
					content: '';
					background: url(img/icons/green-chevron-down.svg) center no-repeat;
					width: 1.2rem;
					height: 0.6rem;
					margin-left: 0.5rem;
				}
			}

			&-item {
				text-align: left;
				flex: 1 32%;
				display: flex;
				flex-direction: column;
				padding: 2.7rem 2.3rem; 
				border: 0.5px solid #A29F9F;
				&:nth-child(5){
					color: $white;
					background-color: $green-1;
				}
				h3 {
					font-weight: 500;
					font-size: 2.2rem;
					line-height: 2.9rem;
					text-transform: uppercase;
					display: flex;
					align-items: center;
					&:before {
						content: '';
						background: url(img/lists/vertebra.svg) center center / contain no-repeat;
						width: 4rem;
						height: 2.9rem;
						margin: 0 1rem 0 0;
					}
				}
			}
		}
		&__sliderPhoto {
			flex: 1;
			max-width: 1140px;
			position: relative;
			&-item {
				display: flex;
			}
		}
		&__block {
			margin: 3rem 0 0 0;
			display: flex;
			flex-wrap: wrap;
			gap: 2.7rem;
			h2 {
				margin: 0;
			}
		}
		&__desc {
			flex: 1;
		}
		&__photo {
			flex: 1;
			
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&__sliderNav {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 0.9rem;

			&-item {
				min-width: 10rem;
				img {
					max-width: 100%;
					height: 100%;
					width: 100%;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
		&__counter {
			color: #fff;
			display: flex;
			align-items: center;
			margin-left: auto;
			padding-right: 1.5rem;
			font-size: 1.5rem;
			z-index: 1;
		}
	}
	&__indication {
		margin-top: 3rem;
		h2 {
			margin-bottom: 3rem;
		}
	}
	&__effectiveness {
		margin-top: 30px;
		h2 {
			margin-bottom: 1rem;
		}
	}
	&__statistics {
		color: $white;
		margin: 30px 0;
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		font-weight: 400;
		font-size: 2rem;
		line-height: 2.3rem;

		b {
			font-size: 3.6rem;
			line-height: 3.6rem;
			font-weight: 700;
		}

		h4 {
			font-weight: bold;
			font-size: 7rem;
			line-height: 8rem;
			margin: 0;
		}

		&__desc {
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.3rem;
			text-transform: uppercase;
			color: $green-1;
			margin: 3rem auto;

			span {
				color: $orange;
			}
		}

		&-item {
			padding: 3.4rem 1.8rem 5rem 1.8rem;
			flex: 1 50%;

			&__odd{
				margin-left: auto;
				max-width: 55rem;
			}
			&__even{
				margin-right: auto;
				max-width: 55rem;
			}

			&:nth-child(1),
			&:nth-child(4),
			&:nth-child(5){
				background-color: $green-1;
			}
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(6){
				background-color: $green-3;
			}
		}
	}
	&__results {
		margin: 3rem auto;
		h2 {
			margin-bottom: 3rem;
		}
		&__box {
			display: flex;
		}

		&__line {
			display: flex;
			align-items: center;
			flex-direction: column;

			&-dot {
				width: 3.3rem;
				height: 3.3rem;
				background: #fff;
				border: 0.2rem solid $green-1;

				&--orange {
					background-image: url(img/icons/rectangle-orange.svg);
					height: 1.2rem;
					width: 1.2rem;
					background-size: contain;
					background-position: center center;
					margin: 0.8rem auto;
				}
				&--green {
					background-image: url(img/icons/rectangle-green.svg);
					height: 1.2rem;
					width: 1.2rem;
					background-size: contain;
					background-position: center center;
					margin: 0.8rem auto;
				}
			}
		}

		&__dashed {
			width: 1px;
			border: 1px dashed $orange;
			height: 100%;
		}

		&__info {
			margin: 0 0 35px 35px;
			border: 0.5px solid #A29F9F;
			box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.04);
			padding: 0 5rem 3rem 5rem;
			font-size: 1.8rem;
			line-height: 2.1rem;
			text-align: left;

			&.second {
				padding-bottom: 7.3rem;
			}
			&.third {
				padding-bottom: 5rem; 
			}

			h4 {
				font-weight: bold;
				font-size: 2.5rem;
				line-height: 2.9rem;
				text-align: center;
				text-transform: uppercase;
				margin: 1.7rem 0 2.5rem 0;
			}
		}
	}
}

.method {
	p {
		margin-bottom:1.5rem;
	}
	&__procedure {
		&__photo {
			img {
				width: 100%;
			}
		}
		&__desc {
			padding: 0 1rem;
		}
	}
}

#indications {
	.box .item {
		display: flex;
		margin-bottom: 3rem;
		align-items: baseline;
		img {
			height: 2rem;
		}
		p {
			font-size: 2rem;
			color:#2e2e2e;
			margin-left: 2.8rem;
		}
	}
}

.help-item {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 507px;
	margin-bottom: 3rem;
	cursor: pointer;
	&--head {
		background-color: $orange;
		color: #fff;
		text-transform: uppercase;
		padding: 1rem 0;
		margin-bottom: 1rem;
		z-index: 1;
		h3 {
			display: flex;
			align-items: center;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.1rem;
			padding-left: 1rem;
			margin: 1rem 0;
			&:after {
				content: '';
				padding: 1rem;
				background: url(img/icons/chevron-white.svg) center center no-repeat;
			}
		}
	}

	&--body {
		background-position: center;
		background-size: cover;
		height: 100%;
		width: 100%;
		&_inner {
			display: none;
			&.show {
				display: block;
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 994;
				background: #00000080;
			}
		}
	}

	&--modal {
		background-color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		max-width: 1160px;
		min-width: 320px;
		width: 100%;
		ul {
			padding: 0 1.5rem;
		}
		&--head {
			background-color: $green-1;
			color: #fff;
			margin-bottom: 1.5rem;
			padding: 2rem;
			text-transform: uppercase;
			z-index: 1;
			h3 {
				margin: 0;
			}
		}

		&--list {
			z-index: 1;
			background: rgba(197,218,223,.15);
			li {
				color: #647174;
				font-size: 1.6rem;
				line-height: 1.8rem;
				padding: 2rem 0 2rem 3rem;
				&:not(:last-child) {
					border-bottom: 1px solid #c8c8c8;
				}
			}
		}

		&--close {
			cursor: pointer;
			position: absolute;
			right: 1.5rem;
			top: 2rem;
			width: 3rem;
			height: 3rem;
			&:after,
			&:before {
				content: "";
				width: 2rem;
				height: 3px;
				margin-top: 1rem;
				background: #fff;
				position: absolute;
			}
			&:after {
				transform: rotate(-45deg);
			}
			&:before {
				transform: rotate(45deg);
			}
		}
	}
}