#overlay {
    background: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1002;
}

#overlay, .modal_div {
    position: fixed;
    display: none;
}

.modal_div {
    background: #fff;
    z-index: 1003;
    width: 520px;
    form {
        padding: 20px 40px;
        border: 2px solid $green-1;
    }
}

.modal_div, .spec_slides_faq .photo img {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-bars__title {
    background: $green-1;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
}

.form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0;
    input {
        font-size: 16px;
        padding: 8px 18px;
        width: 100%;
        border: 1px solid #cfcfcf;
    }

    span {
        font-size: 16px;
        color: $green-1;
        margin-bottom: 10px;
    }

    textarea {
        border: 1px solid #cfcfcf;
        font-size: 16px;
        width: 100%;
        height: 120px;
        padding: 8px 18px;
        resize: none;
    }
}

.form-bars__title .modal_close {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.form-bars__title .modal_close:before {
    transform: rotate(45deg);
}
.form-bars__title .modal_close:after {
    transform: rotate(-45deg);
}
.form-bars__title .modal_close:after, .form-bars__title .modal_close:before {
    content: "";
    width: 20px;
    height: 3px;
    margin-top: 10px;
    background: #fff;
    position: absolute;
}

.form__submit {
    color: $white;
    background-color: $orange;
    border: 3px solid $orange;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 0 0;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        color: $orange;
        background-color: $white;
    }
}

.thanks-form {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    h1 {
        color: $white;
    }
    p {
        margin: 10px 0 0 0;
    }
}

.checkbox__outer__green {
    width: 86%;
    margin: 0 auto;

    input[type='checkbox']{
        width: auto;
        cursor: pointer;
    }

    label {
        cursor: pointer;
        line-height: 12px;
        font-size: 11px;
        text-align: left;
    }
}

.check__green {
    a {
        color: $green-1;
    }
    &__input {
        opacity: 0;
        position: absolute;

        &:checked + .check__green__box {
            background-image: url(img/icons/checkbox-on.svg);
        }
    }

    &__box {
        margin: 5px 0 0 -26px;
        position: absolute;
        width: 16px;
        height: 16px;
        cursor:pointer;
        background-image: url(img/icons/checkbox-off.svg); 
        background-repeat: no-repeat;
        border: 1px solid $green-1;
    }
}
