/*#overlay {
    background: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1002;
}

#overlay, .modal_div {
    position: fixed;
    display: none;
}

.modal_div {
    background: $white;
    z-index: 1003;
    width: 53rem;
    form {
        padding: 2rem 4rem;
        border: 0.2rem solid $green-1;
    }
}

.modal_div, .spec_slides_faq .photo img {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
*/
.form-bars,
.result_form {
    p {
        font-size: 1.8rem; 
        line-height: 2.1rem;
    }
}
    /*
.ya-share2__container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-bars__title {
    background: $green-1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem; 
}

.form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0;
    input {
        font-size: 1.6rem; 
        padding: 8px 18px;
        width: 100%;
        border: 1px solid #cfcfcf;
    }

    span {
        font-size: 1.6rem; 
        color: $green-1;
        margin-bottom: 1rem;
    }

    textarea {
        border: 1px solid #cfcfcf;
        font-size: 1.6rem; 
        width: 100%;
        height: 120px;
        padding: 8px 18px;
        resize: none;
    }
}

.form-bars__title .modal_close {
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
}
.form-bars__title .modal_close:before {
    transform: rotate(45deg);
}
.form-bars__title .modal_close:after {
    transform: rotate(-45deg);
}
.form-bars__title .modal_close:after, .form-bars__title .modal_close:before {
    content: "";
    width: 2rem;
    height: 0.3rem;
    margin-top: 1rem;
    background: $white;
    position: absolute;
}

.form__submit {
    color: $white;
    background-color: $orange;
    border: 0.3rem solid $orange;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem; 
    font-weight: 700;
    margin: 2rem 0 0 0;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        color: $orange;
        background-color: $white;
    }
}
*/ 
.thanks-form {
    font-size: 1.8rem; 
    line-height: 2.1rem;
    margin: 0;
    h1 {
        color: $white;
    }
    p {
        margin: 1rem 0 0 0;
    }
}


.modalview {
    width: 40rem;
    height: 48rem;
    box-shadow: 0 0.5rem 1rem 0.2rem rgba(34, 60, 80, 0.35);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1100001;
    top: calc(30% - 10rem);
    left: calc(50% - 20rem);
	&-body {
		height: 100%;
		width: 100%;
		display: flex;
		position: relative;
	}
	&-close {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1100002;
		display: block;
		border: 0.3rem solid $orange;
		width: 3rem;
		height: 3rem;
		background-color: $white;
		cursor: pointer;
	}
	&-line {
		height: 0.3rem;
		width: 1.6rem;
		display: block;
		background-color: $orange;

		&:nth-child(1) {
			transform: rotate(45deg);
			position: relative;
			top: 1.1rem;
			left: 0.4rem;
		}
		
		&:nth-child(2) {
			transform: rotate(135deg);
			position: relative;
			top: 0.8rem;
			left: 0.4rem;
		}
	}
}

.modal-tele {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1100001;
    top: calc(50% - 10rem);
    left: calc(50% - 20rem);
}

@media (max-width: 600px) {
    .modalview {
        width: 20rem;
        height: 40rem;
        left: calc(70% - 20rem);
    }

    .modal-tele {
        left: 0;
        top: calc(50% - 7rem);
    }
}