.content {
	background-color: $grey;
	margin-top: 3rem;
	
	&__inner {
		font-weight: 300;
    	font-size: 1.6rem;
    	line-height: 1.9rem;
	}

	&__pagination {
		margin: 1.5rem 0 2rem 0;
		display: flex;
		flex-wrap: wrap;

		a {
			color: #000;
			&:hover {
				color: $green-1;
				cursor: pointer;	
			}
		}

		p {
			margin: 0;
		}

		&-item {
			margin-right: 1.5rem;
			color: #000;
			&:hover {
				color: $green-1;
				cursor: pointer;	
			}
		}
		.active {
			color: $green-1;
			font-weight: 400;
		}
	}
}