.price_table {
	width: 100%;
	margin-bottom: 2rem;
}

.price-list {
	padding-bottom: 30px
}

@media screen and (max-width:991px) {
	.price-wrap {
		padding: 0
	}
	.price-wrap .page-title {
		font-size: 18px;
		text-align: center
	}
}

.price-item {
	width: 100%;
	border-bottom: 1px solid #fff;
	&__title {
		font-size: 14px;
		cursor: pointer;
		text-transform: uppercase;
		padding: 17px 20px;
		transition: .35s;
		background-color: #e5f4f9;
		color: $green-1;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;

		i {
			font-size: 12px
		}

		span {
			margin-right: 10px
		}
	}
}

.reviews-item,
.table-cell {
	border-bottom: 1px solid #cfcfcf
}

@media screen and (max-width:768px) {
	.price-item__title {
		width: 100%;
		font-size: 14px;
		color: #fff;
		background-color: $green-1;
		padding: 12px 18px
	}
}


@media screen and (max-width:991px) {
	.price-item { margin: 0 }
}

.price-item__table { display: none }

.table-content { margin: 0 }

.table-cell {
	border-left: 1px solid #cfcfcf;
	font-size: 14px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px 10px;
	justify-content: center;

}

.table-cell:last-child {
	border-right: 1px solid #cfcfcf
}

.table-cell_discount { color: $green-1; }

.card-review__title,
.widget-reviews__text,
.widget-stock__text {
	color: $green-1;
	text-transform: uppercase
}

.table-cell_discount .discount-img {
	opacity: 1;
	margin-right: -10px
}

@media screen and (max-width:768px) {
	.table-cell_discount .discount-img {
		position: absolute;
		right: 0;
		margin-right: 0;
		top: 25%;
	}
	.table-cell_discount {
		-ms-flex-align: stretch;
		align-items: stretch
	}
}

.table-cell_discount span {
	margin-right: 10px
}

.table-cell_discount span:first-child {
	font-weight: 700
}

@media screen and (max-width:1259px) {
	.table-cell {
		font-size: 10px
	}
}

@media screen and (max-width:768px) {
	.table-cell_discount span {
		margin-right: 50px
	}
	.table-cell_discount {
		-ms-flex-direction: column;
		flex-direction: column
	}
	.table-cell {
		padding: 5px 10px;
		position: relative
	}
}

@media screen and (max-width:576px) {
	.table-cell {
		font-size: 12px;
		width: 100%;
	}
}

.table-head {
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	-ms-flex-align: center;
	align-items: center;
	background: #f5f5f5
}

.table-head .table-cell {
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 20px
}

.table-head .table-cell:nth-child(2) {
	-ms-flex-pack: center;
	justify-content: center
}

.table-bot {
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	-ms-flex-align: center;
	align-items: center;
	background: #f5f5f5
}

.table-head .table-bot {
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 20px
}


@media screen and (max-width:768px) {
	.table-head .table-cell {
		padding: 10px 15px
	}
}

@media screen and (max-width:576px) {
	.table-head {
		display: none;
	}
}

.table-content  {
	li { 
		padding: 0; 
	}
}

.table-row {
	display: -ms-flexbox;
	display: flex;

	&:nth-child(odd){
		background-color: $white;
	}

	&:nth-child(even){
		background-color: $white;
	}
}

.rotate180 {
	transform: rotate(180deg);
}

.accordion {
	display: block;
	background-color: #d9edec;
	
	&--animated {
		.accordion__label{
			&:before {
				transition: transform .3s;
			}
		}
	}

	&__item {
    	user-select: none;
	}
	&__input {
    	position: absolute;
    	opacity: 0;
	}
	&__label {
		position: relative;
    display: flex;
    align-items: center;
    padding: .75em 1.25em;
    background-color: #e5f4f9;
		color: $green-1;
    &:hover {
    		cursor: pointer;
    		background-color: #b5dddf;
    		transition: 0.4s ease-in-out;
    }
    span {
    		text-transform: uppercase;
    }
	}
	&__sub {
    	display: none;
    	overflow: hidden;
    	&--is-visible {
    		display: block;
    	}
	}
}

.accordion__label--active {
	background-color: #b5dddf!important;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) {
	.accordion__item {
		padding: 0
	}
}

.accordion__input:checked~.accordion__sub {
    display: block;
}

.accordion__input:checked .accordion__item {
	background-color: $green-1;
} 

.accordion__label {
	position: relative;
  display: flex;
  align-items: center;
  padding: .75em 1.25em;
  background: #d9edec;
  color: $green-1;
}

// icons
.accordion__label::after, 
.accordion__label--icon-folder::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(img/icons/price-green.svg);
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.accordion__label--icon-folder::before {
	order: 1;
}

.accordion__label::after {
	order: 2;
}

.accordion__label span {
	order: 3;
}

.accordion__label--icon-folder {
  &::before { // arrow icon
    background-position: 0 0;
    transform: rotate(-90deg);
  }

  &::after { // folder icon
    background-position: -16px 0;
  }
}

.accordion__label--icon-img::after { // image icon
  background-position: -48px 0;
}

.accordion__input:checked + .accordion__label::before { // rotate arrow
  transform: rotate(0);
}

.accordion__input:checked + .accordion__label::after { // show open folder icon if item is checked
  background-position: -32px 0;
}

.accordion__input:checked ~ .accordion__sub { // show children when item is checked
  display: block;
}

.discount-img {
    background: #E54D28;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.discount-img img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}