.price {
	&_table {
		width: 100%;
		margin-bottom: 2rem;
	}
	
	&-list {
		padding-bottom: 3rem;
	}

	&-item {
		width: 100%;
		border-bottom: 0.1rem solid $white;
		&__title {
			font-size: 1.4rem;
			cursor: pointer;
			text-transform: uppercase;
			padding: 1.7rem 2rem;
			transition: .35s;
			background-color: #e5f4f9;
			color: $green-1;
			display: flex;
			align-items: center;
	
			i {
				font-size: 1.2rem;
			}
		}
		&__table {
			display: none;
		}
	}
}

.table {
	&-cell {
		border-left: 0.1rem solid #cfcfcf;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.4rem;
		font-weight: 400;
		padding: 1rem 2rem;

		&:nth-child(2) {
			justify-content: center;
		}
		&:last-child {
			border-right: 0.1rem solid #cfcfcf
		}
		&_discount { 
			color: $green-1; 
			span {
				margin-right: 1rem;
				&:first-child {
					font-weight: 700;
				}
			}
			.discount-img {
				opacity: 1;
				margin-right: -1rem;
			}
		}
	}
	
	&-head {
		display: flex;
		text-transform: uppercase;
		align-items: center;
		background: #f5f5f5
	}
	
	&-bot {
		display: flex;
		text-transform: uppercase;
		align-items: center;
		background: #f5f5f5
	}

	&-content {
		margin: 0;
		li { 
			padding: 0; 
		}
	}
	
	&-row {
		display: flex;
	
		&:nth-child(odd){
			background-color: $white;
		}
	
		&:nth-child(even){
			background-color: $white;
		}
	}
}

.reviews-item, .table-cell {
	border-bottom: 0.1rem solid #cfcfcf
}

.card-review__title,
.widget-reviews__text,
.widget-stock__text {
	color: $green-1;
	text-transform: uppercase
}

@media screen and (max-width:1259px) {
	.table-cell {
		font-size: 1rem;
		width: 100%;
	}
}

@media screen and (max-width:991px) {
	.price-wrap {
		padding: 0
	}
	.price-wrap .page-title {
		font-size: 1.8rem;
		text-align: center;
	}
	.price-item { 
		margin: 0;
	}
}

@media screen and (max-width:768px) {
	.price-item__title {
		width: 100%;
		font-size: 1.4rem;
		color: $white;
		background-color: $green-1;
		padding: 1.2rem 1.8rem;
	}

	.table-cell {
		padding: 0.5rem 1rem;
		position: relative; 
		&_discount {
			align-items: stretch;
			flex-direction: column;
			.discount-img {
				position: absolute;
				right: 0;
				margin-right: 0;
				top: 25%;
			}
			span {
				margin-right: 5rem;
			}
		}
	}

	.table-head .table-cell {
		padding: 1rem 1.5rem;
	}
}

@media screen and (max-width:576px) {
	.table-cell {
		font-size: 1.2rem;
		width: 100%;
	}

	.table-head {
		display: none;
	}
}

.table-head .table-bot {
	display: flex;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 1rem 2rem;
}

.rotate180 {
	transform: rotate(180deg);
}

.accordion {
	display: block;
	background-color: #d9edec;
	&--animated {
		.accordion__label{
			&:before {
				transition: transform .3s;
			}
		}
	}
	&__item {
    	user-select: none;
		list-style-type: none;
		padding: 0;
	}
	&__input {
    	position: absolute;
    	opacity: 0;
	}
	&__label {
		position: relative;
    	display: flex;
    	align-items: center;
    	padding: .75em 1.25em;
		color: $green-1;
		background-color: #d9edec;

    	&:hover {
    		cursor: pointer;
    		background-color: #b5dddf;
    		transition: 0.4s ease-in-out;
    	}
		&:after {
			order: 2;
		}
    	h2 {
    		text-transform: uppercase;
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 2rem;
			margin: 0;
			order: 3;
    	}
		&--active {
			background-color: #b5dddf!important;
		}
	}
	&__sub {
    	display: none;
    	overflow: hidden;
    	&--is-visible {
    		display: block;
    	}
	}
}

.accordion__input:checked~.accordion__sub {
    display: block;
}

.accordion__input:checked .accordion__item {
	background-color: $green-1;
} 

.accordion__label::after, 
.accordion__label--icon-folder::before {
	content: '';
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	background-image: url(img/icons/price-green.svg);
	background-repeat: no-repeat;
	margin-right: 0.5rem;
}

.accordion__label--icon-folder {
	&:before {
		background-position: 0 0;
		transform: rotate(-90deg);
		order: 1;
	}
	&:after {
		background-position: -1.6rem 0;
	}
}

.accordion__label--icon-img::after {
	background-position: -4.8rem 0;
}

.accordion__input:checked + .accordion__label::before {
	transform: rotate(0);
}

.accordion__input:checked + .accordion__label::after { 
	background-position: -3.2rem 0;
}

.accordion__input:checked ~ .accordion__sub {
	display: block;
}

.discount-img {
    background: $orange;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
	img {
    	width: 2rem;
    	height: 2rem;
    	margin: 0 auto;
	}
}