.slider {
  position: relative;
  padding: 0 6rem;
  .slick-track{
    display: block;
  }
}

/* ограничивающая оболочка */
.slick-list {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 3;
  position: relative;
  margin: 0;
  padding: 0
}

/* лента слайдов */
.method__slider__photo,
.direction__slider__photo,
.method__procedure__sliderPhoto,
.reviews__mainslider,
.video__mainslider,
.topMain__slider,
.topMain__slider__about {
  .slick-track {
    display: flex;
    height: 100%;
  }
}

.topMain__slider__about, 
.reviews__mainslider__photo, 
.video__mainslider__photo {
  position: relative;
}

.faqPage__slider {
  .slick-track {
    display: flex;
    flex-wrap: wrap;
  }
}

.methods__slider,
.doctor__slider-treat,
.doctor__slider-main,
.doctorDetail__sertificates__slider,
.phys__slider,
.diagnostics__slider,
.medic__slider,
.hirurg__slider,
.reab__slider,
.regenerat__slider,
.reflex__slider,
.robot__slider {
  .slick-track {
    display: flex;
    gap: 0;
  }
}

.salesMain, .newsMain, .reviewsMain {
  &__slider {
    .slick-track{
      display: flex;
      gap: 2.4rem;
    }
  }

  &__sliderArrows {
    .slick-prev {
      margin-right: 2.4rem;
    }
  }
  
  &__sliderNav {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
  }
}

.newsMain__slider .slick-track {
  display: flex;
  gap: 2.4rem;
  position: relative;
  top: 1rem;
}

.method__procedure__sliderNav,
.reviews__navslider,
.video__navslider,
.doctor__slider__nav,
.admin__slider__nav,
.doctorDetail__sertificates__nav {
  .slick-track {
    display: flex;
    align-items: flex-start;
    gap: 0.9rem;
    position: relative;
    margin: 0;
  }
}

.reviews__navslider {
  .slick-track {
    gap: 0;
  }
  .slick-current {
    display: none;
  }
}

.method__procedure__sliderNav .slick-track {
  width: 100%;
  max-width: 56rem;
}

.doctorDetail__sertificates__nav .slick-track {
  flex-direction: column;
}

.method,
.direction {
  &__slider {
    &__nav {
      .slick-track {
        display: flex;
        align-items: flex-start;
        gap: 4rem;
        left: 0.2rem;
        top: 0.2rem;
        position: relative;
      }      
    }
  }
}

.direction__slider__nav .slick-list {
  width: 100%;
}

.methods__slider {
  position: relative;
  margin: 3rem 0 6rem 0;
  &-link {
    color: #c4c4c4;
    
    &:after {
      content: "";
      background: url(img/diagnostics/grey-arrow.svg) 0 0.4rem / contain no-repeat;
      padding: 0 0.3rem;
      margin-left: 0.5rem;
    }
    &:hover {
			&:after {
				content: '';
				background: url(img/diagnostics/orange-arrow.svg) 0 0.4rem / contain no-repeat;
				padding: 0 0.3rem;
				margin-left: 0.5rem;
			}
		}
  }
}

.reab__slider .slick-track,
.reflex__slider .slick-track,
.robot__slider .slick-track {
  bottom: 0;
  margin: 0;
}

.sectificates__slider-main__slide {
  .lazy {
    width: 100%;
    height: 41.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.topMain__slider {
  .slick-list {
    height: 42.5rem;
  }
}

.doctor__slider {
  &-main {
    .slick-track {
      justify-content: space-between;
    }
  }
  &-treat {
    .slick-track {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}


/*.slick-slide .slick-current{}
.slick-slide .slick-center{}

слайд
.slick-arrow{}
.slick-arrow .slick-prev{}
.slick-arrow .slick-next{}
.slick-arrow .slick-disabled{}*/
/*
.slick-slide .slick-active {
  background-color: $orange;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 4;
  order: 2;
  position: relative;
  .slick-active button {
    background-color: $orange;
  }
  li { 
    list-style-type: none;
  }
  button {
    font-size: 0;
    width: 2rem;
    height: 2rem;
    background-color: $white;
    border: 0.2rem solid $orange;
    outline: none;
  }
}

.slick-arrow.slick-prev {
  background: url(img/icons/grey-arrow.svg) no-repeat;
  transform: rotate(180deg);
  order: 1;
  &:hover {
    background: url(img/icons/orange-arrow.svg) no-repeat;
  }
}

.slick-arrow.slick-next {
  background: url(img/icons/grey-arrow.svg) no-repeat;
  order: 3;
  &:hover {
    background: url(img/icons/orange-arrow.svg) no-repeat;
  }
}

.slick-arrow.slick-next, 
.slick-arrow.slick-prev {
    z-index: 4;
    font-size: 0;
    width: 1.8rem;
    height: 1.8rem;
}*/

.methods, .diagnostics, 
.phys, .regenerat, .medic, .hirurg, .reab, .reflex, .robot {
  &__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 0;
  position: relative;
  
  &-item {
    width: 36rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2rem;
  }
  
  &__head {
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 2.6rem;
    color: $green-1;
    margin: 2rem 0;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  &__photo {
    width: 36.1rem;
    height: 24.3rem;
  }
}
}

.method__slider__nav,
.direction__slider__nav,
.method__procedure__sliderNav {
  .slick-track {
    .slick-current {
      outline: 0.2rem solid $orange;
      display: flex;
    }
  } 
}

// Arrows
.reviews__mainslider,
.video__mainslider,
.topMain__slider,
.doctor__slider,
.admin__slider,
.diagnostics__slider,
.hirurg__slider,
.phys__slider,
.medic__slider,
.regenerat__slider,
.reflex__slider,
.robot__slider,
.reab__slider,
.methods__slider,
.newsMain__slider,
.direction__slider,
.method__slider,
.method__procedure__sliderPhoto,
.direction__slider__photo,
.method__slider__photo,
.sectificates__slider-main,
.slider__filials {
  &-nav {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    position: relative;
    top: -7rem;
    left: -1rem;
    z-index: 4;
  }
}

.sales-mainsliderNav {
  display: flex;
  justify-content: space-between;
}

.sectificates__slider-main .slick-track {
  display: flex;
}

.methods__slider__photo,
.diagnostics__slider__photo,
.reflex__slider__photo,
.robot__slider__photo,
.medic__slider__photo,
.regenerat__slider__photo,
.hirurg__slider__photo,
.phys__slider__photo,
.reab__slider-nav {
  background-position: center center; 
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.doctor__slider-item--last {
  flex: 1;
  img {
    height: 100%;
    width: 100%;
  }
}

.doctor__info__photo {
  width: 21.5rem;
}

/* слайдер специалисты в новостях */
.slider_specialists__desc {
  font-size: 1.5rem;
  line-height: 1.6rem;
  h3 {
    text-transform: uppercase;
    color: $green-1;
    margin: 0 0 1rem 0;
  }
  ul {
    margin-top: 1rem;
  }
}

.slider_specialists__wrap {
  .doctor__slider {
    margin: 0;
  }
  .doctor__slider-main .slick-track {
    gap: 1rem;
    flex-wrap: nowrap;
  }
  .doctor__info__speciality {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .doctor__info__photo {
    width: 24rem;
  }
}

.slick-arrow {
  background-color: $white;
  border: 0.2rem solid $green-1;
  height: 4rem;
  width: 4rem;
  font-size: 0;
  &:hover {
    cursor: pointer;
  }
}

.slick-prev, 
.slick-next {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6L6.48649 0L8 1.4L3.02703 6L8 10.6L6.48648 12L0 6Z' fill='%23009C9D'/%3E%3C/svg%3E%0A");
}

.slick-next {
  transform: rotateY(180deg);
}

.slick-dots {
  display: none!important;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .results-arrows {
    position: relative;
    gap: 3.5rem;
  }
}