.text {
	margin: 2rem 0 0 0;
	display: block;
}

.mx-auto {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.d-flex {
	display:flex!important;
} 

.justify-content-center {
	display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.contacts__row {
	margin-top: 1.5rem;
}

.float, .flimg, .best_clinic-img {
	float: left;
	margin: 0 1rem 1rem 0;
}

.sale_block img {
    max-width: 100%;
    float: left;
    width: 29.5rem;
    padding: 0 1rem 0 0;
}

.btn__green {
	background-color: $green-1;
	color: $white;
	border: 0.3rem solid $green-1;
	text-transform: uppercase;
	padding: 1rem;
	font-size: 1.8rem;
	line-height: 2.1rem;
	font-weight: 500;
	&:hover {
		background-color: $white;
		color: $green-1;
		border: 0.3rem solid $green-1;
	}
}

.btn__white {
	background-color: $white;
	color: $green-1;
	border: 0.2rem solid $green-1;
	text-transform: uppercase;
	padding: 1rem;
	font-size: 1.4rem;
	line-height: 1.6rem;
	font-weight: 700;
	&:hover {
		background-color: $green-1;
		border: 0.2rem solid $green-1;
		color: $white;
	}
}

.btn_orange, 
.btn__orange {
	background-color: $orange;
	color: $white;
	border: 0.2rem solid $orange;
	text-transform: uppercase;
	padding: 1rem;
	font-size: 1.4rem;
	line-height: 1.6rem;
	font-weight: 700;
	&:hover {
		background-color: $white;
		color: $orange;
		border: 0.2rem solid $orange;
	}
}

.green_font {
	color: $green-1;
}

.orange_font {
	color: $orange;
}

.blue_font {
    color: #29b8d9;
}

.red_font {
    color: red;
}

.grey_font {
	color: #ccc;
}

.black_font {
	color: #000;
}

.warningText {
	display: flex;
	align-items: center;
	color: $green-1;
	margin: 1.5rem 0;

	img { 
		margin: 0 1rem 0 0; 
		height: 3.5rem; 
	}
}

p.blu {
	padding: 1rem 1.5rem;
    margin: 1rem 0;
    background-color: $green-1;
    color: $white;
}

.blu {
	a {
		color: $white;
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
	}
}

.a {
	margin: 0 1.5rem 1.5rem 0;
	height: auto;
	max-width: 100%;
}

.b {
	color: $green-1;
}

.blue-box {
    background-color: $green-1;
    padding: 2rem;
    color: $white;
    margin: 1.5rem 0;
	h2 {
		color: $white;
	}
    a {
    	color: $white;
    	text-decoration: underline;
    }
    ul {
    	padding: 1rem 1.5rem;
	}

	&_dark {
		background-color: $green-1;
		color: $white;
		width: 100%;
		margin: 1.5rem 0;
		a {
			color: $white;
			text-decoration: underline;
		}
	}
}

.blue-box, 
.blue-box_dark {
	ol {
		margin-left: 2rem; 
	} 
}

#achievements {
	padding: 2rem 0;
	h2 {
		margin: 1.5rem 0;
	}
	.box {
		height: 20rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2 {
			font-size: 5.5rem;
			line-height: 1;
			color: $white;
			font-weight: 600;
			.box_4 {
				font-size: 6rem;
				span {
					font-size: 2.4rem;
				}
			}
		}
		h3 {
			font-size: 3.6rem;
			line-height: 1;
			color: $white;
			font-weight: 700;
			margin: 0;
		}
		h4 {
			font-size: 4.8rem;
			line-height: 1;
			font-weight: 700;
			color: $white;
			margin: 0!important;
			text-transform: capitalize!important;
			text-align: left;
		}
		p {
			font-size: 2.4rem;
			line-height: 2.8rem;
			font-weight: 500;
			color: $white;
			margin: 0;
		}
		.box_4 {
			padding-right: 4rem;
		}
	}
	.box.box_1,
	.box.box_2,
	.box.box_3,
	.box.box_4 {
	   padding-left: 1.5rem;
   }
}

.tiles_achievements {
	display: flex;
    flex-wrap: wrap;
	.col-lg-6 {
		padding-left: 0;
		padding-right: 0;
	}
}

h2.last span {
    font-size: 2.4rem;
}

.box {
	&_1 { 
		background: $green-1; 
	}
	&_2 {
		background: $green-2;
	}
	&_3 {
		background: $green-3;
	}
	&_4 {
		background: $green-4;
	}
	&_5 { 
		background: $green-5; 
	}
	&_6 {
		background: $green-6;
	}
	&_7 {
		background: $green-7;
	}
	&_8 {
		background: $green-8;
	}
	&__head {
		font-size: 3.5rem;
		font-weight: 600;
		color: $white;
		display: flex;
		align-items: baseline;
		gap: 1rem;
		text-transform: uppercase;
	}
	&__num {
		font-size: 5.5rem;
		line-height: 1;
		color: $white;
	}
}

.square_wrap:nth-child(1):hover,
.square_wrap:nth-child(2):hover,
.square_wrap:nth-child(3):hover,
.square_wrap:nth-child(4):hover,
.square_wrap:nth-child(5):hover,
.square_wrap:nth-child(6):hover,
.square_wrap:nth-child(1):hover .square_link,
.square_wrap:nth-child(2):hover .square_link,
.square_wrap:nth-child(3):hover .square_link,
.square_wrap:nth-child(4):hover .square_link,
.square_wrap:nth-child(5):hover .square_link,
.square_wrap:nth-child(6):hover .square_link {
	background: $white;
	color: $green-3;
}

.square {
	color: $white;
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;

	p {
		margin-top: 1rem;
	}

	&_section {
		h3 {
			margin-bottom: 1rem;
		}

		p {
			margin-top: 1rem;
		}
	}
	
	&_wrap {
		flex: 1 1 33%;
    	padding: 0.8rem;
		color: $white;
		text-align: center;
    	text-transform: uppercase;

		&:nth-child(1) {
			background-color: $green-4;
			.square_img {
				border: 0.3rem solid $green-4;
				border-radius: 100%;
			}
		}
		&:nth-child(2) {
			background-color: $green-5;
			.square_img {
				border: 0.3rem solid $green-5;
				border-radius: 100%;
			}
		}
		&:nth-child(3) {
			background-color: $green-2;
			.square_img {
				border: 0.3rem solid $green-2;
				border-radius: 100%;
			}
		}
		&:nth-child(4) {
			background-color: $green-7;
			.square_img {
				border: 0.3rem solid $green-7;
				border-radius: 100%;
			}
		}
		&:nth-child(5) {
			background-color: $green-3;
			.square_img {
				border: 0.3rem solid $green-3;
				border-radius: 100%;
			}
		}
		&:nth-child(6) {
			background-color: $green-1;
			.square_img {
				border: 0.3rem solid $green-1;
				border-radius: 100%;
			}
		}
	}

	&_link {
		margin-top: 1rem;
    	width: 100%;
    	text-align: center;
    	&:hover {
			text-decoration: underline;
			transition: 1s ease-in-out;
		}
	}

	&_img {
		max-width: 100%;
    	height: 12rem!important;
	}
}

.advantage_box {
    color: $white;
    padding: 1rem;
    display: flex;
    width: 57rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

	&__outer {
		min-height: 22.1rem!important;
		height: 100%;
		&:nth-child(1) {
			background-color: #48D1CC;
		}
		&:nth-child(2) {
			background-color: #27D0CC;
		}
		&:nth-child(3) {
			background-color: #42C9C5;
		}
		&:nth-child(4) {
			background-color: #33C5C0;
		}
		&:nth-child(5) {
			background-color: #0BBBB9;
		}
		&:nth-child(6) {
			background-color: #14b9b7;
		}
		&:nth-child(7) {
			background-color: #05afb0;
		}
		&:last-child {
			background-color: #009C9D;
			margin-bottom: 3rem;
		}
	}

	&__photo {
		width: 14.7rem;
		height: 14.7rem;
		border-radius: 100%;
		margin: 0 auto;
		border: 0.2rem solid;
		&--one {
			background: url(images/news/1.jpg);
			background-size: cover; 
		}
		
		&--two {
			background: url(images/news/2.jpg);
			background-size: cover; 
		}
		
		&--three {
			background: url(images/news/3.jpg);
			background-size:cover; 
		}
		
		&--four {
			background: url(images/news/4.jpg);
			background-size:cover; 
		}
		
		&--five {
			background: url(images/news/5.jpeg);
			background-size:cover; 
		}
		
		&--six {
			background: url(images/news/6.jpg);
			background-size: cover;
		}
	}
	
	&__text {
		flex: 1;
		flex-direction:column;
		display: flex;
		padding: 0 1rem;
	
		h3 {
			text-transform:uppercase; 
			margin: 0;
			font-size: 2.2rem;
			line-height: 2.5rem;
			margin-bottom: 1rem;
		}
	}
	
	&__btn {
		background-color: $white;
		border:none;
		outline:none;
		text-transform: uppercase;
		color: $green-1;
		display: block;
		margin-left:auto;
		padding: 1rem;
		font-weight: bold;
		&:hover{
			cursor: pointer;
		}
	}

    &-left {
    	margin-left: auto;
    }
	h2, h3 {
		color: $white;
	}
    img {
    	width: 14.7rem;
   		height: 14.7rem!important;
    	border-radius: 100%;
    	margin: 0 auto;
    	background-color: rgba(255, 255, 255, 0.7);
    	border: 0.3rem solid $white;
    	position: relative;
    	padding: 1rem;
	}
}

@media screen and (max-width: 500px) {
    .advantage_box { 
		flex-direction: column;
		width: 100%;
		h3 { 
			text-align: center
		}
	}

    .btn__orange { 
		display: block; 
		width: 22rem; 
	}
}

.warning_text-outer,.price_text-outer,.review_text-outer {
	background-color: #eee;
	border-top: 0.2rem solid #ea4e28;
	font-size: 1.4rem;
	line-height:1.5;
	display:flex;
	flex-wrap:wrap;
	margin:1rem 0 1.5rem 0;
}

.warning_text-inner,.price_text-inner,.question_text-inner{
	padding: .2rem 0 0 0;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5
}

.review_text-outer {
	border-radius: 3rem 0 0 3rem;
}

.review_text-inner {
	color:#8a8a8a;
	font-style:italic;
	line-height: 1.2;
	padding: .2rem 0 0 0;
}

.btn-orange-warning, .btn-orange-review, .btn-orange-price, .btn-orange-question{
	text-transform:uppercase;
	background-color:#ea4e28;
	color: $white;
	font-weight: 600;
	font-size: 1.8rem;
	text-align:center;
	position:relative;
	border:none;
	padding:.35rem 0;
	margin:0 1rem 0 0;
}

.btn-orange-warning,
.btn-orange-price,
.btn-orange-question {
	width:16rem;
}

.btn-orange-review {
    line-height: 3.6rem;
    height: 3rem;
    width: 16rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 0 1rem;
    font-size: 1.8rem;
}

.btn-orange-review:hover,.btn-orange-price:hover,.btn-orange-question:hover{
	transition:0.6s ease-in-out;
	opacity:.85;
	cursor:pointer
}

.btn-orange-warning:focus,.btn-orange-review:focus,.btn-orange-price:focus,.btn-orange-question:focus{
	outline:none
}

.btn-orange-warning::before,.btn-orange-review::before,.btn-orange-price::before,.btn-orange-question::before{
	content:'';
	position:absolute;
	height:3rem;
	left:-2.1rem;
	top:-.7rem;
	background-color:#ea4e28;
	background-position:center;
	background-size:2rem;
	border:0.5rem solid #eee;
	border-radius:100%
}

.btn-orange-price::before{
	width: 2.95rem;
    height: 2.95rem;
	background-size:55%; 
	background-image:url(img/icons/money.png);
	background-repeat:no-repeat;
}

.btn-orange-warning::before{
	width:4.5rem;
	height:4.5rem;
	background-repeat:no-repeat;
	background-size:50%;
	background-image:url(img/icons/finger-to-up.png);
}

.btn-orange-question::before{
	width:3.5rem;
	height:3.5rem;
	background-size:55%;
	background-image:url(img/icons/question-mark.png);
	background-repeat:no-repeat;
}

.btn-orange-review::before{
	width:4rem;
	height:4rem;
	background-image:url(img/icons/open-book.png);
	background-repeat:no-repeat;
	background-size:55%;
}

@media screen and (max-width:1024px){
	.review_text-inner,
	.price_text-inner,
	.question_text-inner {
		padding: 1rem 0;
	}
	
	.btn-orange-warning,
	.btn-orange-review,
	.btn-orange-price,
	.btn-orange-question {
		font-size:1rem;
		width:100%;
		margin:0 auto
	}
}

.promo-inner {
	font-size:1rem;
	line-height:1.4
}

.adviceOuter { 
	height:inherit;
	h3 { 
		font-size:1.5rem;
		font-weight:700;
		text-transform:uppercase;
		margin-bottom:1rem;
		color: $green-1; 
		text-transform:uppercase}
}

.adviceInner { 
	padding-bottom: 2rem; 
	height:100%; 
	display:block; 
	background-color:#eee; 
	border-top:0.2rem solid #ea4e28;
	span {
		margin: 0;
	}
	h3 {
		font-size:1rem;
		font-weight:700;
		text-transform:uppercase;
		margin-bottom:1rem;
		color:$green-1;
		text-transform:uppercase
	}
	img {
		float:left; 
		max-width:30rem;
		max-height:30rem;
		padding:0 1rem 0 0;
	}
	p {
		font-size:.9rem;
		line-height:1.25;
		padding:1rem;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .adviceOuter { 
		display:flex; 
		flex-direction:column; 
		justify-content:center;
		img { 
			float:none; 
			margin:auto; 
			max-height:40rem; 
			display:flex; 
		}
	}
}

/* таблица в новостях */
.comparison_table {
    margin-bottom: 3rem;
    border-spacing: 0; 
}

.comparison_table thead {
    background-color: #33C5C0;
    color: $white;
    border: none;
    text-transform: uppercase; 
}
.comparison_table thead td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center; 
}

.comparison_table tbody tr {
    padding: 10px;
}
    
.comparison_table tbody tr:nth-child(odd) {
    padding: 0!important;
    text-align: center;
    background-color: #E1F2F8;
    text-transform: uppercase;
    color: #009c9d;
    font-weight: bold; 
}

.comparison_table tbody tr td {
    padding: 10px;
    border: 1px solid #ccc;
}

.comparison_table tbody tr td:nth-child(even) {
    color: #ea4c28;
}

.comparison_table tbody tr td:nth-child(even):before {
    padding: 0 .5rem .5rem 0;
    color: #ea4e28; 
}

.comparison_table tbody tr td:nth-child(3):before {
    content: "\274c";
    padding: 0 .5rem .5rem 0;
    color: #009c9d; 
}

/* таблица в новостях: круги */
.round {
	font-size:14px!important;
	background-color: #009c9d;
	width: 120px;
	height: 120px;
	border-radius:100%;
	color:$white;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin: 0 auto 10px auto;
	position: relative;
	p {
    	margin: 0!important;
    	line-height: 1!important;
	}

	&:before {
    	content: "";
    	display: block;
    	position: absolute;
		inset: 0.5rem;
    	border: 0.2rem solid $white;
    	border-radius: 100%;
	}
	&_number {
    	font-size: 2.5rem!important;
    	line-height: 1!important;
    	margin: 0;
	}
	&_big {
    	font-size: 1.7rem!important;
    	margin: 0;
    	line-height: 1!important;
	}
}

/* кстати */
.howeverBlock {
    max-width: 50%;
    background-color: #f5f5f5;
    padding: 1.5rem 4rem;
    position: relative;
	h3, h4 {
		font-size: 1.6rem;
		text-transform: uppercase;
	}
	h4 {
		color: $green-1;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		margin: 0 auto;
		&__photo {
			flex: 1;
			img {
				max-width: 100%;
			}
		}
		&__text {
			flex: 2;
			line-height: 1;
			font-size: 1.4rem;
		}
	}
	&-left {
		float: left;
		margin: 1rem 3rem 1rem 0;
		&:after {
			content: "";
			width: 1rem;
			height: 100%;
			position: absolute;
			top: 0;
			background: $green-1;
			border-radius: 0.2rem;
			right: -2rem;
		}
	}
	
	&-right {
		float: right;
		margin: 1.5rem 0 1rem 2rem;
		
		&:after {
			content: "";
			width: 1rem;
			height: 100%;
			position: absolute;
			top: 0;
			background: $green-1;
			border-radius: 0.2rem;
			left: -2rem;
		}
	}
}

.method, .direction {
	&__future,
	&__procedure {
		margin-top: 3rem;

		&__head {
			padding-left: 0!important;
			display: flex;
			align-items: center;
			&:after {
				content: "";
				width: 100%;
				height: 2rem;
				background-color: $green-1;
				position: absolute;
			}
			h2 {
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				background-color: $white;
				z-index: 1;
				font-weight: 500;
				font-size: 2.5rem;
				line-height: 2.9rem;
				padding-right: 3rem;
			}
		}

		&__percent {
			background-color: $green-1;
			color: $white;
			font-weight: bold;
			font-size: 2.5rem;
			line-height: 2.9rem;
			padding: 1rem;
			height: 100%;
			display: flex;
			align-items: center;
			flex:1;
		}

		&__photodesc {
			flex:1;
		}

		&__text {
			color: $green-1;
			flex:3;
			text-align: center;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.3rem;
			padding: 1rem;
		}

		&__card {
			display: flex;
			flex-wrap: wrap;
			gap: 2.2rem;
			margin-top: 3rem;

			&__link {
				display: flex;
				align-items: center;
				&:after {
					content: '';
					background: url(img/icons/green-chevron-down.svg) center no-repeat;
					width: 1.2rem;
					height: 0.6rem;
					margin-left: 0.5rem;
				}
			}

			&-item {
				text-align: left;
				flex: 1 32%;
				display: flex;
				flex-direction: column;
				padding: 2.7rem 2.3rem; 
				border: 0.5px solid #A29F9F;
				h3 {
					font-weight: 500;
					font-size: 2.2rem;
					line-height: 2.9rem;
					text-transform: uppercase;
					display: flex;
					align-items: center;
					&:before {
						content: '';
						background: url(img/lists/vertebra.svg) center center / contain no-repeat;
						width: 4rem;
						height: 2.9rem;
						margin: 0 1rem 0 0;
					}
				}
			}
		}

		&__advantages {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 2.2rem;

			&-item {
				border: 0.2rem solid $green-1;
				display: flex;
				flex: 1;
				align-items: center;
				&:last-child {
					border: 0.2rem solid $orange;
					
					.method__procedure__text,
					.method__future__text {
						color: $orange;
					}
					.method__procedure__percent,
					.method__future__percent {
						background-color: $orange;
					}
				}
			}
		}

		&__slider {
			max-width: 100%;
		}

		&__desc,
		&__photo {
			flex: 1;
		}

		&__sliderPhoto {
			flex: 1;
			max-width: 1140px;
			position: relative;
			&-item {
				display: flex;
			}
		}

		&__block {
			margin: 3rem 0 0 0;
			display: flex;
			flex-wrap: wrap;
			gap: 2.7rem;
			h2 {
				margin: 0;
			}
		}

		&__sliderNav {
			display: flex;
			flex-wrap: wrap;
			gap: 0.9rem;

			&-item {
				min-width: 10rem;
				flex:27rem 0;
				img {
					max-width: 100%;
					height: 100%;
					width: 100%;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}

		&__counter {
			color: $white;
			display: flex;
			align-items: center;
			margin-left: auto;
			padding-right: 1.5rem;
			font-size: 1.5rem;
			z-index: 1;
		}
	}
}

.reasons_info {
	font-size: 1.8rem;
	line-height: 2.1rem;
	color: $white;
	height: 100%;
    display: flex;
    flex-wrap: wrap;
	h3 {
		margin: 0!important;
		display: inline;
	}
	a {
		color: $white;
		font-size: 1.8rem;
		font-weight: 600;
	}
	.col-lg-6 {
		display: flex;
		align-items: center;
		padding: 6rem 2rem;
	}
}
	
.team, .consult, .transfer, .mrt, .keys {
	background: $green-1;
}
	
.tech, .best, .graphic, .parking, .rouble {
	background: $green-2;
}

.team, .best, .transfer, .parking, .keys {
	justify-content: end;
}
	
.team .box, .tech .box  {
	margin-top: 1rem;
}

.transfer {
	.box {
		margin-right: 18rem;
	}
}

.parking {
	.box {
		margin-right: 21rem;
	}
}

.keys {
	.box {
		margin-right: 16rem;
	}
}

.floatLeft {
	float:left;
	margin: 0 1rem 1rem 0;
}	
	
.pic {
	background-repeat: no-repeat; 
	background-position: center;
	background-size: contain;
	width: 12rem;
	height: 12rem;
	margin-right: 2rem;

	img {
		width: 100%;
		max-width: 100%;
	}
	
	&_1 {
		background-image: url(img/icons/direction/1.png);
	}
		
	&_2 {
		background-image: url(img/icons/direction/2.png);
	}
		
	&_3 {
		background-image: url(img/icons/direction/3.png);
	}
		
	&_4 {
		background-image: url(img/icons/direction/4.png);
	}
	/////
	&_5 {
		background-image: url(img/icons/direction/5.png);
	}
	&_6 {
		background-image: url(img/icons/direction/6.png);
	}
	&_7 {
		background-image: url(img/icons/direction/7.png);
	}
	&_8 {
		background-image: url(img/icons/direction/8.png);
	}
	&_9 {
		background-image: url(img/icons/direction/9.png);
	}
	&_10 {
		background-image: url(img/icons/direction/10.png);
	}
}

.drx-pic {
    height: 27rem;
	img {
		width:100%;
	}
}

.tabs {
	overflow: hidden;
}

.tab {
	border-bottom: 0.1rem solid #CCCCCC;
	input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	&__content {
		max-height: 0;
		overflow: hidden;
		transition: all 0.35s;
		p {
			padding: 0 1rem;
			margin-bottom:0;
		}
	}
	&__label,
	&__close {
		display: flex;
		color: $green-1;
		cursor: pointer;
	}
	&__label {
		justify-content: space-between;
		padding: 1.2rem;
		&:after {
			content: "\276F";
			width: 1em;
			height: 1em;
			text-align: center;
			transform: rotate(90deg);
			transition: all 0.35s;
		}
	}
}

.tab input:checked ~ .tab__content {
	max-height: 12rem;
}

.tab input:checked + .tab__label::after {
	transform: rotate(270deg);
}
  
/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
	animation: bounce .5s infinite;
}

@keyframes bounce {
	25% {
	  transform: rotate(90deg) translate(.25rem);
	}
	75% {
	  transform: rotate(90deg) translate(-.25rem);
	}
}

@media (max-width: 1024px){
	.transfer, .parking, .keys {
		.box {
			margin-right: 0;
		}
	}
	.reasons_info .col-lg-6 {
		justify-content: flex-start;
	}	
}

@media (max-width: 600px){
	.d-only { 
		display: none; 
	}
}