.doctor,
.admin {
	h1 {
		text-transform: uppercase;
	}
	&__slider {
		margin: 3rem 0 3rem 0;
		gap: 2.5rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative; 

		&-item {
			max-width: 55.7rem;
			background-color: #F5F5F5;
			flex: 1;
		}
		&__nav {
			display: flex;
			flex-wrap: wrap;
			gap: 2.6rem;
			padding: 2.5rem 0;

			&-item {
				text-align: center;
				font-weight: 700;
				font-size: 1.8rem;
				line-height: 2rem;
				color: $green-1;
				text-transform: uppercase;
				.black_font {
					font-size: 1.5rem;
				}
			}

			&__photo {
				background-position: top center;
				background-size: cover;
				background-repeat: no-repeat;
				width: 16.8rem;
				height: 16rem;
				border: 0.5rem solid $green-1;
				margin-bottom: 1rem;
				

				&:hover {
					border: 0.5rem solid $orange;
					cursor: pointer;
				}
			}
		}
	}
}

.doctor__info__stars>input:checked~label, 
.doctor__info__stars input[checked=checked]~label {
	color: $orange;
}

.doctor__info__stars:not(:checked)>label:hover, 
.doctor__info__stars:not(:checked)>label:hover~label {
	color: $green-1;
}

.overall-rating {
    color: $green-1;
}

.doctor__info {
	display: flex;
	&__bigtext {
		display: block;
		font-size: 2.5rem;
		line-height: 2.8rem;
	}

	&__photo {
		background-position: center center;
  		background-size: cover;
  		background-repeat: no-repeat;
		height: 36.4rem;
		width: 29.3rem;
		position: relative;
		cursor: pointer;
		&-online {
			width: 10.8rem;
			height: 9.6rem;
			position: absolute;
			top: 0;
			left: 0;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		img{
			height: auto;
			max-width: 100%;
		}
	}

	&__desc {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
    	padding: 1rem 0;
		flex: 1;
		
		h3 {
			text-transform: uppercase;
			text-align: center;
			font-size: 2rem;
			line-height: 2.3rem;
			margin: 0;
			font-weight:400;
			cursor: pointer;
		}
	}

	&__avg {
		color: $orange;
	}

	&__rating {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__prodoctorov {
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 11.4rem;
		height: 1.9rem;
	}

	&__stars {
		margin-right: 1rem;

		&:not(:checked)>input {
			position: absolute;
			display: none;
		}
		
		&:not(:checked)>label:before {
			content: "\2605";
		}
		
		&:not(:checked)>label {
			float: right;
			width: 1.8rem;
			overflow: hidden;
			white-space: nowrap;
			cursor: pointer;
			font-size: 1.5rem;
			line-height: 1;
			color: #C4C4C4;
		}
	}

	&__speciality {
		text-align: center;
		font-size: 1.8rem;
		line-height: 2.1rem;
		margin-top: 1.5rem;
		font-weight: 300;
	}
	
	&__online {
		margin: 0.8rem 0 0 0;
		font-size: 1.6rem;
		line-height: 1.8rem;
		color: $green-1;
		text-align: center;
	}

	&__detail {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.1rem;
		color: $white;
		text-transform: uppercase;
		width: 17rem;
		height: 4.5rem;
		background: $green-1;
		border: 0.2rem solid $white;
		margin-top: 3rem;
		&:hover {
			border: 0.2rem solid $green-1;
			background: $white;
			color: $green-1;
			.doctor__info__link {
				color: $green-1;
			}
		}
	}

	&__link {
		color: $white;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			color: $green-1;
		}
	}
}

.doctor,
.doctorDetail {
	&__socials {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		margin-top: 1.8rem;
		&-item {
			width: 3.6rem;
			height: 3.6rem;
			cursor: pointer;
			position: relative;
			&:hover {
				opacity: .8;
				transition: 0.5s ease;
			}
		}
	}
	&__video {
		iframe {
			height: 529px;
			width: 100%;
			max-width: 100%;
		}
	}
}

@media (max-width: 1199px) {
	.doctorDetail__video {
		iframe {
			height: 529px;
		}
	}
}
  
@media (max-width: 991px) {
	.doctorDetail__video {
		iframe {
			height: 405px;
		}
	}
}
  
@media (max-width: 767px) {
	.doctorDetail__video {
		iframe {
			height: 415px;
		}
	}
}
  
@media (max-width: 575px) {
	.doctorDetail__video {
		iframe {
			height: 307px;
		}
	}
}

.tg, .viber, .skype, .whatsapp {
	background-size: 2.5rem;
	background-position: center center;
	background-repeat: no-repeat;
	&:before {
		content: '';
		top: 0.5rem;
		position: relative;
		width: 2.5rem;
		height: 2.5rem;
		display: block;
		margin: auto;
	}
}

.tg {
	background-color: $telegram;
}

.viber {
	background-color: $viber;
}

.skype {
	background-color: $skype;
}

.whatsapp {
	background-color: $whatsapp;
}

.doctorDetail {
	background-color: $grey;

	&__inner {
		display: flex;
		flex-wrap: wrap;
	}

	&__photo {
		flex: 2;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		img {
			max-width: 100%;
			height: auto;
		}
	}

	/*&__speech {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex: 2;
	}

	&__quotes {
		display: flex;
		img {
			margin: 0 auto 7px auto;
		}
	}

	&__bubble {
		background-color: $green-1;
		color: $white;
		flex:1;
		padding: 20px;
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		position: relative;
		max-width: 425px;

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 0;
			z-index: 1;
			border-style: solid;
			border-width: 60px 60px 0 0;
			border-color: $green-1 transparent transparent transparent;
			top: 40%;
			right: -60px;
			margin-top: -10px;
		}
	}*/

	&__info {
		min-height: 35rem;
		font-weight: 300;
		font-size: 2.2rem;;
		line-height: 2.5rem;;
		text-align: center;
		flex: 1;
		h1 {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 3rem;
			line-height: 3.4rem;
			margin: 1.6rem 0 1rem 0;
		}
	}
	
	&__experience,
	&__online {
		text-transform: uppercase;
		font-size: 2rem;
		line-height: 2.3rem;
		margin-top: 1.8rem;
		span {
			font-weight: 500;
			color: $green-1;
		}
		&-city {
			font-size: 1.8rem;
		}
	}
	&__btn {
		margin-top: 1.8rem;
	}
}

.doctorDetail {
	&__prodoctorov {
		display: flex;
		flex-direction: column;
		font-size: 1.6rem;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		width: 29rem;
		margin: 0 auto;
	}

	&__prodoctorov-img--bronze,
	&__prodoctorov-img--silver,
	&__prodoctorov-img--gold {
		width: 4rem;
		height: 4rem;
		position: absolute;
		left: 0.5rem;
		top:0;
		z-index:2;
	}

	&__prodoctorov-img--bronze {
		background: url(img/medals/bronze.svg) center center / 4rem no-repeat;
	}

	&__prodoctorov-img--silver {
		background: url(img/medals/bronze.svg) center center / 4rem no-repeat;
	}

	&__prodoctorov-img--gold {
		background: url(img/medals/gold.svg) center center / 4rem no-repeat;
	}

	&__prodoctorov-img--flag {
		width: 4rem;
		height: 6.9rem;
		position: absolute;
		left: 0.5rem;
		top: -0.6rem;
		background: url(img/medals/flag.png) center center / cover no-repeat;
	}

	&__prodoctorov-toptext {
		background-color: $green-1;
		color: $white;
		padding: 0.5rem 2rem 0 0;
		text-align: right;
	}

	&__prodoctorovRate {
		background-color: $white;
		display: flex;
		height: 1.9rem;

		&__logo {
			width: 100%;
    		height: 2.2rem;
    		background: url(img/medals/prodoctorov.svg) center right / 16.5rem no-repeat;
		}

		&__num {
			color: $orange;
			margin: 0 1rem;
		}
	}

	&__sertificates {
		&__inner {
			display: flex;
			flex-wrap: wrap;
		}
		&__slider {
			display: flex;
			&-item {
				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
		&__nav {
			display: flex;
			flex-direction: column;
    		gap: 2.9rem;
    		flex-wrap: wrap;
    		height: 53rem;
    		width: 12rem;
    		overflow: hidden;

			&-item {
				padding: 3.5rem 1.5rem;
				width: 15rem;
				height: 15rem;
				border: 0.3rem solid $green-1;
				img {
					max-width: 100%;
					height: auto;
				}
				&:hover {
					cursor: pointer;
					border: 0.3rem solid $orange;
				}
			}
		}
	}

	&__navBottom {
		font-weight: 500;
		color: $white;
		margin-top: 6rem;

		&-item {
			display: flex;
			gap: 2rem;
			margin-bottom: 2rem;
			
			&:nth-child(odd) {
				background-color: $green-1;
			}
			&:nth-child(even) {
				background-color: $green-3;
			}
		}

		&__inner {
			display: flex;
    		flex-wrap: wrap;
    		gap: 2rem;
    		background-color: $white;
    		padding: 0;
		}

		&__large {
			padding: 4rem 2rem;
			font-size: 2rem;
			line-height: 2.3rem;
			background-color: $green-3;
			flex: 3;
		}
		&__tiny {
			padding: 1rem 1.8rem 1rem 0.5rem;
			font-size: 1.8rem;
			line-height: 2.1rem;
			text-transform: uppercase;
			flex: 1;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__text {
			flex: 0 0 15.6rem;
    		text-align: center;
		}
		&__btn {
			flex: 1;
			height: 11.9rem;
			border: 3px solid $white;
			&:hover {
				opacity: 0.7;
			}
			img {
				padding: 1.6rem;
    			display: flex;
    			max-width: 100%;
    			height: 100%;
    			margin: 0 auto;
			}
		}
	}
}

.bg__darkGreen {
	background: $green-1;
}

.bg__lightGreen {
	background: $green-3;
}