.video,
.methodsWrap,
.articlesWrap,
.salesWrap,
.reviewsWrap,
.newsWrap,
.catalogSpecWrap {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	
	h1 {
		text-transform: uppercase;
	}

	a {
		&:hover {
			color: $orange;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		gap: 5.7rem;

		&-item {
			display: flex;
			flex-direction: column;
			width: 342px;
			cursor: pointer;

			h2 {
				margin-bottom: 1.5rem;
				color: $green-1;
				font-weight: 500;
				font-size: 2rem;
				line-height: 2.3rem;
				text-transform: uppercase;
			}
		}
		&__pic {
			margin-bottom: 2.5rem;
			position: relative;
			background-size: cover;
			width: 100%;
			height: 247px;
		}
		&__label {
			background: url(img/mainnews/icon_news.svg) 50% / cover no-repeat;
			width: 111px;
			height: 41px;
			position: absolute;
			top: -1rem;

			p {
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				font-size: 1.6rem;
				line-height: 1.9rem;
				font-weight: 500;
				padding-top: 0.9rem;
			}
		}
	}

	&__announce {
		&-link {
			font-weight: normal;
			font-size: 2rem;
			line-height: 2.3rem;
			color: #C4C4C4;
			&:after {
				content: '';
				background: url(img/diagnostics/grey-arrow.svg) 0 7px / contain no-repeat;
				padding: 0px 3px;
				margin-left: 5px;
			}
		}
	}
}

.catalogSpecWrap__header,
.methodsWrap__header,
.salesWrap__header,
.news__header,
.articles__header,
.faqWrap__header {
	color: $white;
	font-weight: 500;
	background-color: $green-1;
	padding: 22px 0 20px 0;
	a {
		color: $white;
		text-decoration: underline;
	}
}

.faqWrap__header,
.methodsWrap__header,
.salesWrap__header {
	margin: 3rem auto;
}

.reviews__header,
.video__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&__text {
		flex: 5;
		color: $white;
		font-weight: 500;
		background-color: $green-1;
		padding: 22px 0 20px 0;
		position: relative;
		&:before {
			content: '';
			background-color: $green-1;
			width: 100%;
			height: 100%;
			left: -912px;
			top: 0;
			position: absolute;
			z-index: -1;
		}
	}

	&__logo {
		flex:1;
		img {
			height: auto;
			max-width: 100%;
			margin-left: auto;
			display: block;
		}
	}
}

.play {
	z-index: 10;
	position: absolute;
	top: 35%;
	left: 40%;
	border: none;
	background-color: transparent;
	height: 76px;
	width: 76px;
}

.reviews__link {
	color: $white;
}

.reviews__btn {
	&:hover {
		.reviews__link {
			color: $green-1;
		}
	}
}

.salesWrap {
	&__type {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 1.3rem;
		padding: 1.2rem 0;
		font-size: 2rem;
		line-height: 2.3rem;
		text-transform: uppercase;
		background-color: $green-1;
		color: #fff;
	}
	&__label {
		background: url(img/icons/sale_wrap.svg) center center / cover no-repeat;
		width: 66px;
		height: 55px;
		position: relative;
		top: -1rem;
		img {
			max-width: 28px;
			margin: 1rem 1.8rem;
		}
	}
}

.advantage_box__outer {
	min-height: 209px;
	height: 100%;
}

.video__other {
	font-size: 1.8rem;
	line-height: 2.1rem;
	&-content {
		a {
			text-transform: uppercase;
		}
	}
	&-video {
		width: 100%;
		height: 223px;
	}

	&-title {
		font-size: 2rem;
		line-height: 2.1rem;
		color: $green-1;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}
	&-item,
	&-text {
		margin-top: 1.5rem;
	}

	&-item {
		cursor: pointer;
		img {
			max-width: 100%;
			height: auto;
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
	}
}