
iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
	height: auto!important;
}

.methodsWrap,
.articlesWrap,
.salesWrap,
.reviewsWrap,
.newsWrap,
.catalogSpecWrap {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	
	h1 {
		text-transform: uppercase;
	}

	a {
		&:hover {
			color: $orange;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		gap: 5.7rem;

		&-item {
			border-bottom: 0.2rem solid $green-1;
			color: $black;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			min-height: 44.6rem; //42.6rem;
			width: 34.2rem;
			position: relative;

			&:hover {
				color: $black;
			}

			h2 {
				font-size: 1.8rem;
				line-height: 2.4rem;
				margin: 0 0 1.2rem 0;
			}
		}
		&__pic {
			margin-bottom: 0.8rem;
			position: relative;
			background-size: cover;
			width: 100%;
			height: 24.7rem;
		}
		&__label {
			background: url(img/mainnews/icon_news.svg) 50% / cover no-repeat;
			width: 11.1rem;
			height: 4.1rem;
			position: absolute;
			top: -1rem;

			p {
				color: $white;
				text-transform: uppercase;
				text-align: center;
				font-size: 1.6rem;
				line-height: 1.9rem;
				font-weight: 500;
				padding-top: 0.9rem;
			}
		}
	}

	&__announce {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2rem;

		p {
			margin-bottom: 1.6rem;
		}

		&-link {
			color: $green-1;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 1.6rem;
			letter-spacing: 0.02em;
			position: absolute;
			bottom: 2rem;
			left: 0;
			text-transform: uppercase;

			&:after {
				content: '';
				background: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.51351 12L14 6L7.51352 0L6 1.4L9.89189 5L1.74846e-07 5L0 7L9.89189 7L6 10.6L7.51351 12Z' fill='%23009C9D'/%3E%3C/svg%3E%0A") center / contain no-repeat;
				padding: 0 0.7rem;
				margin-left: 0.5rem;
			}
			&:hover {
				color: $orange;
				transition: .5s ease;
				&:after {
					content: '';
					background: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.51351 12L14 6L7.51352 0L6 1.4L9.89189 5L1.74846e-07 5L0 7L9.89189 7L6 10.6L7.51351 12Z' fill='%23E05222'/%3E%3C/svg%3E%0A") center / contain no-repeat;
					padding: 0 0.7rem;
					margin-left: 0.5rem;
					transition: .5s ease;
				}
			} 
		}
	}
}

.video {
	&__announce {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2rem;
		padding: 1.2rem 1.6rem 1.6rem 1.6rem;

		p {
			margin-bottom: 1.6rem;
		}
	}

	&__category {
		&-header {
			margin-bottom: 2.4rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}
		&-h {
			color: $green-1;
			font-size: 2.8rem;
			font-weight: 500;
			line-height: 3.4rem;
			text-transform: uppercase;
		}
		&-link {
			font-size: 1.4rem;
			font-weight: 700;
			line-height: 1.6rem;
			letter-spacing: 0.02em;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			&:after {
				content:'';
				display: block;
				height: 1.2rem;
				width: 0.8rem;
				margin-left: 1.2rem;
				background: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 6L1.51351 12L0 10.6L4.97297 6L1.46575e-06 1.4L1.51351 0L8 6Z' fill='%23009C9D'/%3E%3C/svg%3E%0A") center / contain no-repeat;
			}
			&:hover {
				&:after {
					background: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 6L1.51351 12L0 10.6L4.97297 6L1.46575e-06 1.4L1.51351 0L8 6Z' fill='%23e05222'/%3E%3C/svg%3E%0A") center / contain no-repeat;
				}
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		gap: 2.4rem;

		&-item {
			background-color: #F5F5F5;
			color: $black;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			min-height: 36.4rem; //42.6rem;
			width: 36.4rem;
			position: relative;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 2rem; 

			&:hover {
				color: $black;
			}

			h2 {
				font-size: 1.8rem;
				line-height: 2.4rem;
				margin: 0 0 1.2rem 0;
			}
		}
		&__pic {
			background-size: cover;
			width: 100%;
			height: 24.7rem;
			position: relative;
		}

	}
	&__methods {
		color: #5C5C5C;
		margin: 6rem 0 4rem 0;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2rem;
	}
	&__methodsList {
		display: flex;
		flex-wrap: wrap;
		gap: 1.2rem;
		margin-top: 1.2rem;
		&-item {
			font-size: 1.2rem;
			line-height: 1.6rem;
			font-weight: 700;
			background-color: $green-1;
			color: $white;
			display: flex;
			align-items: center;
			gap: .8rem;
			padding: 1rem 1rem 1rem 1.2rem;
			text-decoration: none;
			&:after {
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.44015 10L12 5L6.44016 0L5.14286 1.16667L8.47876 4.16667L1.49868e-07 4.16667L0 5.83333H8.47877L5.14286 8.83333L6.44015 10Z' fill='white'/%3E%3C/svg%3E%0A");
				display: block;
				height: 1rem;
				width: 1.2rem;
			}
			&:hover {
				color: $white;
			}
		}
	}
}

.videoDetail {
	display: flex;
	justify-content: center;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.4rem;

	iframe {
		margin-bottom: 3.2rem;
		height: 54.8rem;
		width: 100%;
	}
}

.author {
	border: 0.2rem solid $grey; 

	&__head {
		h2 {
			margin: 0 0 1.5rem 0;
			padding: 0 3rem 0 0;
		}
	}
	&__body {
		
		&:before {
			content: '';
			position: absolute;
			margin: -2rem 0;
			width: 100%;
			height: 0;
			background-color: $green-1;
		}
	}
	&__doctor {
		display: flex;
    	flex-direction: column;
		float: left;
		width: 12rem;
		margin: 0 2.4rem 0 0;

		img {
				width: 100%;
				height: auto;
		}
		
	}
	&__text {
		font-size: 1.6rem;
		line-height: 1.9rem;
		height: 100%;
		min-height: 15rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1.8rem 1.8rem 1rem 0;
		&__link {
			color: rgba(0,0,0,.56);
			&:after {
    			content: "";
    			background: url(img/diagnostics/grey-arrow.svg) 0 0.4rem / contain no-repeat;
    			padding: 0 0.3rem;
    			margin-left: 0.5rem;
			}
			&:hover {
				&:after {
					content: "";
					background: url(img/diagnostics/orange-arrow.svg) 0 0.4rem / contain no-repeat;
					padding: 0 0.3rem;
					margin-left: 0.5rem;
				}
			}
		}
	}
	&__expert {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2rem;
		margin-bottom: 0.4rem;
	}
	&__name {
		color: $green-1;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 2.4rem;
		text-transform: uppercase;
		margin-bottom: 1.4rem;
	}
	&__speciality {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 2rem;
	}
	&__link {
		color: $green-1;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.6rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-transform: uppercase;
		&:after {
			content: "";
			background: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 6L1.51351 12L0 10.6L4.97297 6L1.46575e-06 1.4L1.51351 0L8 6Z' fill='%23009C9D'/%3E%3C/svg%3E%0A") center / contain no-repeat;
			display: block;
			width: .8rem;
			height: 1.2rem;
			margin-left: 1rem;
		}
		&:hover {
			&:after {
				content: "";
				background: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 6L1.51351 12L0 10.6L4.97297 6L1.46575e-06 1.4L1.51351 0L8 6Z' fill='%23E05222'/%3E%3C/svg%3E%0A") center / contain no-repeat;
				display: block;
				width: .8rem;
				height: 1.2rem;
				margin-left: 1rem;
			}
		}
	}

	span {
		color: $green-1;
	}
	strong {
		font-weight: normal;
		font-size: 2rem;
		line-height: 2.4rem;
		margin-bottom: 2rem;
	}
}

.news,
.articles,
.catalogSpecWrap,
.methodsWrap,
.salesWrap,
.faqWrap {
	&__header {
		color: $white;
		font-weight: 400;
		background-color: $green-1;
		padding: 2.2rem 0 2rem 0;
		a {
			color: $white;
			text-decoration: underline;
		}
	}
}

.round-tg {
	fill: $white;
}

.icon-tg {
	fill: $green-1;
}

.news {
	&__header {
   		margin: 2rem auto 3rem;
		&__text {
        	display: flex;
        	align-items: center;
    	}
	}
	&__tgbot {
        display: flex;
        align-items: center;
        padding: 1rem;
        border: 0.2rem solid;
        margin: 0 1rem;
        text-decoration: none!important;

		&:hover {
			background-color: $white;
			transition: .5s ease;
			.round-tg {
				fill: $orange;
				transition: .5s ease;
			}
			.icon-tg {
				fill: $white;
				transition: .5s ease;
			}
		}
		
		&-pic {
			width: 3.2rem;
			height: 3.2rem;
			margin-left: 1rem;			
		}
    }
}

.methodsWrap__header,
.salesWrap__header {
	margin: 3rem auto;
}

.faqWrap__header {
	margin: 0 0 3rem 0;
	&__question {
		img {
			width: 5rem;
		}
	}
}

.play {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	height: 5.25rem!important;
	width: 5.25rem!important;
	opacity: 0.75;
	z-index: 10;
}

.reviews {
	&__link {
		color: $white;
	}
	
	&__btn {
		&:hover {
			.reviews__link {
				color: $green-1;
			}
		}
	}
}

.salesWrap {
	&-head {
		margin-bottom: 1.5rem;
		color: $green-1;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.3rem;
		text-transform: uppercase;
	}
}