
iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
	height: auto!important;
}

.video,
.methodsWrap,
.articlesWrap,
.salesWrap,
.reviewsWrap,
.newsWrap,
.catalogSpecWrap {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	
	h1 {
		text-transform: uppercase;
	}

	a {
		&:hover {
			color: $orange;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		gap: 5.7rem;

		&-item {
			border-bottom: 0.2rem solid $green-1;
			color: $black;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			min-height: 44.6rem; //42.6rem;
			width: 34.2rem;
			position: relative;

			&:hover {
				color: $black;
			}

			h2 {
				font-size: 1.8rem;
				line-height: 2.4rem;
				margin: 0 0 1.2rem 0;
			}
		}
		&__pic {
			margin-bottom: 0.8rem;
			position: relative;
			background-size: cover;
			width: 100%;
			height: 24.7rem;
		}
		&__label {
			background: url(img/mainnews/icon_news.svg) 50% / cover no-repeat;
			width: 11.1rem;
			height: 4.1rem;
			position: absolute;
			top: -1rem;

			p {
				color: $white;
				text-transform: uppercase;
				text-align: center;
				font-size: 1.6rem;
				line-height: 1.9rem;
				font-weight: 500;
				padding-top: 0.9rem;
			}
		}
	}

	&__announce {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2rem;

		p {
			margin-bottom: 1.6rem;
		}

		&-link {
			color: $green-1;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 1.6rem;
			letter-spacing: 0.02em;
			position: absolute;
			bottom: 2rem;
			left: 0;
			text-transform: uppercase;

			&:after {
				content: '';
				background: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.51351 12L14 6L7.51352 0L6 1.4L9.89189 5L1.74846e-07 5L0 7L9.89189 7L6 10.6L7.51351 12Z' fill='%23009C9D'/%3E%3C/svg%3E%0A") center / contain no-repeat;
				padding: 0 0.7rem;
				margin-left: 0.5rem;
			}
			&:hover {
				color: $orange;
				transition: .5s ease;
				&:after {
					content: '';
					background: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.51351 12L14 6L7.51352 0L6 1.4L9.89189 5L1.74846e-07 5L0 7L9.89189 7L6 10.6L7.51351 12Z' fill='%23E05222'/%3E%3C/svg%3E%0A") center / contain no-repeat;
					padding: 0 0.7rem;
					margin-left: 0.5rem;
					transition: .5s ease;
				}
			} 
		}
	}
}

.catalogSpecWrap__header,
.methodsWrap__header,
.salesWrap__header,
.news__header,
.articles__header,
.faqWrap__header {
	color: $white;
	font-weight: 400;
	background-color: $green-1;
	padding: 2.2rem 0 2rem 0;
	a {
		color: $white;
		text-decoration: underline;
	}
}

.round-tg {
	fill: $white;
}

.icon-tg {
	fill: $green-1;
}

.news {
	&__header {
   		margin: 2rem auto 3rem;
		&__text {
        	display: flex;
        	align-items: center;
    	}
	}
	&__tgbot {
        display: flex;
        align-items: center;
        padding: 1rem;
        border: 0.2rem solid;
        margin: 0 1rem;
        text-decoration: none!important;

		&:hover {
			background-color: $white;
			transition: .5s ease;
			.round-tg {
				fill: $orange;
				transition: .5s ease;
			}
			.icon-tg {
				fill: $white;
				transition: .5s ease;
			}
		}
		
		&-pic {
			width: 3.2rem;
			height: 3.2rem;
			margin-left: 1rem;			
		}
    }
}

.methodsWrap__header,
.salesWrap__header {
	margin: 3rem auto;
}

.faqWrap__header {
	margin: 0 0 3rem 0;
	&__question {
		img {
			width: 5rem;
		}
	}
}	

.reviews, .video {
	&__header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		&__text {
			background-color: $green-1;
			color: $white;
			flex: 5;
			font-weight: 500;
			padding: 2.2rem 0 2rem 0;
			position: relative;
			&:before {
				content: '';
				background-color: $green-1;
				width: 100%;
				height: 100%;
				left: -91.2rem;
				top: 0;
				position: absolute;
				z-index: -1;
			}
		}

		&__logo {
			flex: 1;
			img {
				display: block;
				height: auto;
				max-width: 100%;
				margin-left: auto;
			}
		}
	}
}

.play {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	height: 7.6rem!important;
	width: 7.6rem!important;
	opacity: 0.6;
	z-index: 10;
}

.reviews {
	&__link {
		color: $white;
	}
	
	&__btn {
		&:hover {
			.reviews__link {
				color: $green-1;
			}
		}
	}
}

.salesWrap {
	&-head {
		margin-bottom: 1.5rem;
		color: $green-1;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.3rem;
		text-transform: uppercase;
	}
}

.video {
	margin: 1rem auto!important;

	&__other {
		font-size: 1.8rem;
		line-height: 2.1rem;

		&-content {
			a {
				text-transform: uppercase;
			}
		}
	
		&-video {
			width: 100%;
			height: 223px;
		}

		&-title {
			color: $green-1;
			font-size: 2rem;
			line-height: 2.1rem;
			margin-bottom: 1.5rem;
			text-transform: uppercase;
		}
		&-item,
		&-text {
			margin-top: 1.5rem;
		}

		&-item {
			cursor: pointer;
			img {
				max-width: 100%;
				height: auto;
			}
		}

		&-list {
			display: flex;
			flex-wrap: wrap;
		}
	}
}