.sympthoms__reasons {
	font-size: 1.8rem;
	line-height: 2.1rem;
}

.disease_nav {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	flex: 1 1 auto;
	margin: 1rem 0;
	font-size: 1.8rem;
	line-height: 2.1rem;

	&__item {
		font-weight: bold;
		border: 1px solid $green-1;
		color: $green-1;
		background-color: #fff;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;

		&:hover, &.active {
			color: #fff;
			background-color: $green-1;
			cursor: pointer;
		}

		&:focus{
			color: #fff;
			background-color: $green-1;
		}
	}
}

.disease__tooltip {
    position: relative;
    border-bottom: 1px dotted #000;

	&:hover .disease__tooltiptext {
    	visibility: visible;
	}

	.disease__tooltiptext {
		visibility: hidden;
		width: 120px;
		background: url(img/mainnews/icon_news.svg) bottom / cover no-repeat;
		color: #fff;
		text-align: left;
		padding: 0px 5px;
		margin-left: 10px;
		font-size: 1.2rem;
		position: absolute;
		z-index: 1;
		height: 29px;
	}
}

.disease_list {
	h2 {
		text-transform: uppercase;
		text-align: center;
		color: $green-1;
		margin-bottom: 1rem;
		font-size: 1.75rem;
		width: 100%;
	}
}

.disease_search {
	position: relative;
	display: flex;
	width: 100%;
	margin-bottom: 40px;
	input {
		width: 100%;
		height: 3rem;
		padding: 2rem 0 2rem 5rem;
		font-weight: 300;
		font-size: 2rem;
		line-height: 2.3rem;
		border: 2px solid $green-1;
		position: relative;
		background: url(img/icons/search.svg) left no-repeat;
		background-size: 20px;
    	background-position: 20px;
    	&:focus {
    		box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
    		border: 2px solid $white;
    	}
    	&::placeholder {
    		color: #A19F9F;
    	}
	}
}

.disease_info {
	font-size: 1.8rem;
	line-height: 2.1rem;
	padding: 0;
	position: relative;
	align-items: flex-start;
	margin-bottom: 50px;

	h3 {
		color: $green-1;
		text-decoration: none;
		display: block;
		text-align: left;
		margin: 50px 0 30px 0;
		font-weight: 500;
		font-size: 3rem;
		line-height: 3.4rem;

		&:first-letter {
			color: $orange;
		}
	}
	h4 {
		color: $green-1;
		font-size: 2rem;
		line-height: 2.3rem;
		font-weight: 400;
		text-transform: uppercase;
		border-bottom: 2px solid $green-1;
		padding: 10px 0 16px 0;
	}
	p {
		line-height: 1;
		margin-bottom: 1rem;
	}

	&__desc{
		a {
			color: $green-1;
			text-decoration: none;

			&:after{
				content: '>';
				padding-left: 0.25rem;
			}
			&:hover{
				color: $green-1;
			}
		}

		button {
			width: 215px;
			height: 54px;
			color: #fff;
			background-color: $green-1;
			padding: 15px 20px;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.3rem;

			&:hover {
				background-color: $orange;
				transition: all 0.35s ease-in-out;
				cursor: pointer;
			}
			&:focus {
				outline: none;
				background-color: $orange;
			}
		}
	}
}

.disease_symthom{
	ul {
		display: flex;
		flex-flow: wrap column;
		justify-content: center;
		padding: 3.8rem 0;
	}

	li {
		font-weight: 300;
		font-size: 2rem;
		line-height: 2.3rem;
		padding-bottom: 15px;
		list-style-type: none;
	}

	a {
		color: #000;
		text-decoration: none;
		display: block;

		&:hover, &:first-letter, &:focus {
			color: $orange;
		}
	}
}

.disease_recomendation {
	ul {
		padding: 3.8rem 0;
	}
	li {
		font-weight: 300;
		font-size: 2rem;
		line-height: 2.3rem;
		padding-bottom: 15px;
		list-style-type: none;
	}
	a {
		color: #000;
		text-decoration: none;
		&:hover, &:focus{
			color: $orange;

		}
	}
}

.select_disease__list {
    display: flex;
    flex-direction: column;
    position: absolute;
	top: 48px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
}

.select_disease a {
	font-size: 18px;
	line-height: 21px;
    color: $green-1;
    width: 100%;
    display: flex;
    padding: 6px 0 6px 0.5rem;
    
    &:before {
    	content: '';
    	width: 20px;
    	height: 20px;
    	background: url(img/icons/search.svg) no-repeat;
    	background-size: contain;
    	margin-right: 13px;
	}
}

.alphabet_disease {
	margin: 0 0 4rem 0;
	&-item{
		list-style-type: none;
		&.active{
			a {
				color:$orange;
				&:hover {
					color:$orange;
				}
			}
		}
		&:focus{
			color: #fff;
			background-color: $orange;
		}
	}

	ul {
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		gap: 4rem;
	}

	a {
		color: $green-1;
		text-decoration: none;
		font-size: 2.5rem;
    	line-height: 2.7rem;

		&:hover{
			color: $orange;
		}
	}
}